/* ==========================================================================
    #CONFIG
==========================================================================  */

/* ==========================================================================
    #FOLDER
==========================================================================  */

/* ==========================================================================
    #TYPOGRAPHY
==========================================================================  */

/* font-family */

/* Text selection */

/* ==========================================================================
    #MEDIA-QUERIES
==========================================================================  */

/* ==========================================================================
    #TRANISTION
==========================================================================  */

/* ==========================================================================
    #VARIABLES MODAL
========================================================================== */

/* ==========================================================================
    #REVERSE

    Example:
    $list: a, b, c d e, f, g, h;
    $new-list: reverse($list);       // h, g, f, c d e, b, a
    $new-list: reverse($list, true); // h, g, f, e d c, b, a
========================================================================== */

/* ==========================================================================
    #STRIP-UNIT
========================================================================== */

/* ==========================================================================
    #VR (rhythm-vertical)
========================================================================== */

/* ==========================================================================
    #CENTER
========================================================================== */

/* ==========================================================================
    #CENTER-BLOCK
========================================================================== */

/* ==========================================================================
    #CLEARFIX
    http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
========================================================================== */

/* ==========================================================================
    #INPUT-PLACEHOLDER

    input,  
    textarea {  
        @include input-placeholder{
            color: $grey;
        }
    }
========================================================================== */

/* ==========================================================================
    #last-row
========================================================================== */

/* ==========================================================================
    #TEXT-TRUNCATE
========================================================================== */

@media (min-width: 576px) {
  body::after {
    content: '{"sm":{"value": "576px", "active": true}, "md":{"value": "768px", "active": false}, "lg":{"value": "992px", "active": false}, "xl":{"value": "1440px", "active": false}}';
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
  }
}

@media (min-width: 768px) {
  body::after {
    content: '{"sm":{"value": "576px", "active": true}, "md":{"value": "768px", "active": true}, "lg":{"value": "992px", "active": false}, "xl":{"value": "1440px", "active": false}}';
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
  }
}

@media (min-width: 992px) {
  body::after {
    content: '{"sm":{"value": "576px", "active": true}, "md":{"value": "768px", "active": true}, "lg":{"value": "992px", "active": true}, "xl":{"value": "1440px", "active": false}}';
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
  }
}

@media (min-width: 1440px) {
  body::after {
    content: '{"sm":{"value": "576px", "active": true}, "md":{"value": "768px", "active": true}, "lg":{"value": "992px", "active": true}, "xl":{"value": "1440px", "active": true}}';
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
  }
}

body {
  position: relative;
}

.c-grid-visualer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}

.c-grid-visualer.is-active {
  visibility: visible;
  opacity: 1;
}

.c-grid-visualer__wrapper, .c-grid-visualer__row, .c-grid-visualer__container {
  height: 100%;
}

.c-grid-visualer__wrapper, .c-grid-visualer__container {
  margin: 0 auto;
}

.c-grid-visualer__column {
  height: 100%;
}

.c-grid-visualer__block {
  height: 100%;
  background-color: cadetblue;
  opacity: 0.5;
}

.c-grid-visualer-toggle {
  padding: 15px 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  color: #000;
  background: #ccc;
}

.c-grid-visualer-toggle:hover {
  background: #aaa;
}

.c-grid-visualer__container {
  max-width: 1160px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * 1. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 2. Change the default font family in all browsers (opinionated)
 */

html {
  box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the system font stack as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 * to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  transition-property: none;
  transition-duration: 250ms;
}

/* ==========================================================================
    #BOX-SIZING
========================================================================== */

*,
*:after,
*:before {
  box-sizing: border-box;
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
}

/* ==========================================================================
    #RESET-TAGS
========================================================================== */

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var,
figure,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  font-style: inherit;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}

/* list*/

ul,
ol {
  list-style: none;
}

/* link*/

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  outline: none;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active, a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

/* images*/

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* table*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* strong*/

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

/* ==========================================================================
    #FROM
========================================================================== */

input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */

button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */

[disabled] {
  cursor: default;
}

[type='number'] {
  width: auto;
  /* Firefox 36+ */
}

[type='search'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  /* Safari 8+ */
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: 0;
}

/* Replace focus style removed in the border reset above */

button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */

button,
input,
select,
textarea {
  color: inherit;
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
}

::-webkit-file-upload-button {
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
}

[type='search'] {
  outline-offset: -2px;
  /* Correct the outline style in Safari */
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
}

/* ==========================================================================
    #SELECTION
========================================================================== */

/* Specify text selection background color and omit drop shadow */

::-moz-selection {
  color: #000;
  text-shadow: none;
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
}

::selection {
  color: #000;
  text-shadow: none;
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
}

/* ==========================================================================
    #ALL
========================================================================== */

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==========================================================================
    #HTML
========================================================================== */

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

/* ==========================================================================
    #BODY
========================================================================== */

body {
  overflow-x: hidden;
  overflow-y: scroll;
  color: #000;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  line-height: 1;
  background-color: #fff;
}

/* ==========================================================================
    #LINK
========================================================================== */

a {
  color: #000;
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

body.is-dev:before {
  padding: 10px;
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10000;
  font-weight: 700;
  text-transform: uppercase;
  background: #ccc;
}

@media (max-width: 575px) {
  body.is-dev:before {
    content: 'xs';
  }
}

@media (min-width: 576px) {
  body.is-dev:before {
    content: "sm";
  }
}

@media (min-width: 768px) {
  body.is-dev:before {
    content: "md";
  }
}

@media (min-width: 992px) {
  body.is-dev:before {
    content: "lg";
  }
}

@media (min-width: 1440px) {
  body.is-dev:before {
    content: "xl";
  }
}

.px-container {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .px-container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.o-intrinsic {
  padding-top: 100%;
  display: block;
  width: 100%;
  height: 0;
  position: relative;
}

.o-intrinsic--square {
  padding-top: 100%;
}

.o-intrinsic--4x3 {
  padding-top: 75%;
}

.o-intrinsic--16x9 {
  padding-top: 56.25%;
}

.o-intrinsic__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.o-button {
  padding: 12px 30px;
  display: inline-block;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
  text-transform: uppercase;
  transition: background-color 200ms ease;
}

.o-button {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

.o-button.is-hover, .o-button:hover {
  color: #000;
  background-color: #fff;
}

.o-button.is-disabled, .o-button:disabled {
  color: #373535;
  background-color: #eaeaea;
  cursor: not-allowed;
}

.o-button.is-focus, .o-button:focus {
  color: #fff;
  background-color: #0984e3;
  border-color: #0984e3;
}

/*
Container

Container styles

-large - large variant
-xlarge - xlarge variant
-wide - wide variant
-site - site variant
-xsite - xsite variant

markup:
<div class="o-container{$modifiers}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat nulla eu fermentum varius. Sed tempor ut tellus vitae posuere. Praesent et tempor ipsum, eu laoreet nunc.</div>

Styleguide 2.7
*/

.o-container-large, .o-container-xlarge, .o-container-wide, .o-container-site, .o-container-xsite {
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: content-box;
}

@media (min-width: 576px) {
  .o-container-large, .o-container-xlarge, .o-container-wide, .o-container-site, .o-container-xsite {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (min-width: 768px) {
  .o-container-large, .o-container-xlarge, .o-container-wide, .o-container-site, .o-container-xsite {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (min-width: 992px) {
  .o-container-large, .o-container-xlarge, .o-container-wide, .o-container-site, .o-container-xsite {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1440px) {
  .o-container-large, .o-container-xlarge, .o-container-wide, .o-container-site, .o-container-xsite {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.o-container-large {
  margin-right: auto;
  margin-left: auto;
  max-width: 1040px;
}

.o-container-xlarge {
  margin-right: auto;
  margin-left: auto;
  max-width: 1160px;
}

.o-container-wide {
  margin-right: auto;
  margin-left: auto;
  max-width: 1240px;
}

.o-container-site {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

.o-container-xsite {
  margin-right: auto;
  margin-left: auto;
  max-width: 1920px;
}

.o-heading, .o-wysiwyg h1,
.o-wysiwyg h2,
.o-wysiwyg h3,
.o-wysiwyg h4,
.o-wysiwyg h5,
.o-wysiwyg h6 {
  color: #000;
  font-weight: 300;
  line-height: 1.25;
  text-transform: uppercase;
}

/*
Links

Link styles

default - Default link

markup:
<a class="o-link {$modifiers}">Lorem link text</a>
<button class="o-link {$modifiers}">Lorem link text</button>

Styleguide 2.3
*/

.o-link {
  color: #0984e3;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.o-link:hover {
  text-decoration: underline;
}

/*
List unordered styles

default - Default

markup:
<ul class="o-list-unordered">
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
   <li>Vestibulum auctor dapibus neque.</li>
</ul>
     
Styleguide 2.8
*/

.o-list-unordered, .o-wysiwyg ul {
  padding-left: 1em;
  list-style: disc;
}

/*
List ordered styles

default - Default

markup:
<ol class="o-list-ordered">
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
   <li>Vestibulum auctor dapibus neque.</li>
</ol>
     
Styleguide 2.9
*/

.o-list-ordered, .o-wysiwyg ol {
  padding-left: 1em;
  list-style-type: decimal;
}

.o-release {
  margin-right: calc(-50vw + 50%);
  margin-left: calc(-50vw + 50%);
}

.o-table, .o-wysiwyg table {
  width: 100%;
}

.o-table pre, .o-wysiwyg table pre {
  white-space: pre-wrap;
}

.o-table th, .o-wysiwyg table th,
.o-table td,
.o-wysiwyg table td {
  padding: 0.7em;
  font-size: 1em;
  line-height: 1.4;
  border: 1px solid #e6e6e6;
}

.o-table thead tr, .o-wysiwyg table thead tr,
.o-table tfoot tr,
.o-wysiwyg table tfoot tr {
  background-color: #f5f5f5;
}

.o-table thead th, .o-wysiwyg table thead th,
.o-table thead td,
.o-wysiwyg table thead td,
.o-table tfoot th,
.o-wysiwyg table tfoot th,
.o-table tfoot td,
.o-wysiwyg table tfoot td {
  padding: 0.77778em;
  font-size: 0.9em;
}

.o-table tbody tr, .o-wysiwyg table tbody tr {
  background-color: #fff;
}

/*
Text

Text styles

default - Default text
o-text--light - Light text

markup:
<div class="o-text {$modifiers}">Nulla condimentum gravida efficitur. Nunc vel sagittis magna.</div>

Styleguide 2.5
*/

.o-text {
  color: #525254;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375;
}

.o-wysiwyg {
  line-height: 1.625;
  /* spacing */
  /* heading */
  /* link */
  /* paragraph */
  /* list */
}

.o-wysiwyg > * + * {
  margin-top: 32.5px;
  margin-bottom: 32.5px;
}

.o-wysiwyg > *:first-child {
  margin-top: 0;
}

.o-wysiwyg h1,
.o-wysiwyg h2,
.o-wysiwyg h3,
.o-wysiwyg h4,
.o-wysiwyg h5,
.o-wysiwyg h6 {
  font-weight: 700;
  line-height: 1.2;
}

.o-wysiwyg h1 {
  font-size: 2.4em;
  line-height: 1;
}

.o-wysiwyg h2 {
  font-size: 1.6em;
  line-height: 1.1;
}

.o-wysiwyg h3 {
  font-size: 1.3em;
}

.o-wysiwyg h4 {
  font-size: 1.2em;
}

.o-wysiwyg h5 {
  font-size: 1.1em;
}

.o-wysiwyg h6 {
  font-size: 1em;
}

.o-wysiwyg a {
  text-decoration: none;
}

.o-wysiwyg a:hover {
  border-bottom: 1px solid;
}

.o-wysiwyg p:empty {
  display: none;
}

.o-wysiwyg abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

.o-wysiwyg cite {
  font-style: italic;
}

.o-wysiwyg img {
  vertical-align: text-bottom;
}

.o-wysiwyg ins {
  text-decoration: none;
  background-color: lime;
}

.o-wysiwyg mark {
  background-color: #ff0;
}

.o-wysiwyg small {
  font-size: 0.8em;
}

.o-wysiwyg strong {
  font-weight: 700;
}

.o-wysiwyg sub,
.o-wysiwyg sup {
  font-size: 0.8em;
}

.o-wysiwyg sub {
  vertical-align: sub;
}

.o-wysiwyg sup {
  vertical-align: super;
}

.o-input-label {
  display: block;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
}

.o-input-text {
  border: 1px solid #000;
}

.o-input-textarea {
  border: 1px solid #000;
  resize: none;
}

.o-select {
  padding: 0;
  padding-right: 40px;
  border: 1px solid #000;
  position: relative;
}

.o-select:after {
  content: '';
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16"><path fill-rule="evenodd" d="M7 7V3H3v4H0l5 6 5-6H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  pointer-events: none;
}

.o-select select {
  padding: 12px 20px;
  display: block;
  width: 100%;
}

.o-radio__input {
  display: none;
}

.o-radio__input + label {
  font-weight: normal;
  cursor: pointer;
}

.o-radio__input + label span {
  margin-right: 5px;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  vertical-align: middle;
  border: 1px solid #0984e3;
  border-radius: 50%;
  cursor: pointer;
}

.o-radio__input + label span:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  content: '';
  width: 9px;
  height: 9px;
  background-color: #0984e3;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 100ms ease;
}

.o-radio__input:checked + label span:before {
  opacity: 1;
}

.o-radio__input:disabled + label {
  opacity: 0.5;
}

.o-radio__input:disabled + label,
.o-radio__input:disabled + label span {
  cursor: default;
}

.o-checkbox__input {
  display: none;
}

.o-checkbox__input + label {
  font-weight: normal;
  cursor: pointer;
}

.o-checkbox__input + label span {
  margin-right: 5px;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  vertical-align: middle;
  border: 1px solid #0984e3;
  cursor: pointer;
}

.o-checkbox__input + label span:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  content: '';
  width: 9px;
  height: 9px;
  background-color: #0984e3;
  opacity: 0;
  transition: opacity 100ms ease;
}

.o-checkbox__input:checked + label span:before {
  opacity: 1;
}

.o-checkbox__input:disabled + label {
  opacity: 0.5;
}

.o-checkbox__input:disabled + label,
.o-checkbox__input:disabled + label span {
  cursor: default;
}

.o-toggle__input {
  display: none;
}

.o-toggle__input + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  height: 20px;
  background-color: #e4e4e4;
  border-radius: 60px;
  transition: background 0.4s;
}

.o-toggle__input + label:before, .o-toggle__input + label:after {
  content: '';
  display: block;
  position: absolute;
}

.o-toggle__input + label:before {
  right: 1px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background-color: #F1F1F1;
  border-radius: 60px;
  transition: background 0.4s;
}

.o-toggle__input + label:after {
  top: -1px;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.o-toggle__input:checked + label {
  background-color: #e68900;
}

.o-toggle__input:checked + label:before {
  background-color: #FF9800;
}

.o-toggle__input:checked + label:after {
  -ms-transform: translateX(20px);
  -webkit-transform: translateX(20px);
      transform: translateX(20px);
}

.o-toggle__input:disabled + label {
  opacity: 0.5;
  cursor: default;
}

.o-input-note {
  font-size: 0.75rem;
}

.o-from-control .o-input-label {
  margin-bottom: 10px;
}

.o-from-control .o-input-note {
  margin-top: 10px;
}

.o-from-control.has-error .o-input-note,
.o-from-control.has-error .o-input-label,
.o-from-control.has-error input,
.o-from-control.has-error select,
.o-from-control.has-error textarea {
  color: #ed1c24;
}

.o-from-control.has-error input,
.o-from-control.has-error select,
.o-from-control.has-error textarea {
  border-color: currentColor;
}

.o-input-text, .o-input-textarea {
  padding: 12px 20px;
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
}

.o-input-text--is-disabled, .o-input-text:disabled, .o-input-textarea--is-disabled, .o-input-textarea:disabled, .o-select--is-disabled, .o-select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.o-input-text--is-focus, .o-input-text:focus, .o-input-textarea--is-focus, .o-input-textarea:focus, .o-select--is-focus, .o-select:focus {
  color: #0984e3;
  border: 1px solid currentColor;
}

.o-input-text::-webkit-input-placeholder, .o-input-textarea::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0984e3 !important;
  opacity: 1;
  /* Firefox */
}

.o-input-text::-moz-placeholder, .o-input-textarea::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0984e3 !important;
  opacity: 1;
  /* Firefox */
}

.o-input-text:-ms-input-placeholder, .o-input-textarea:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0984e3 !important;
  opacity: 1;
  /* Firefox */
}

.o-input-text::-ms-input-placeholder, .o-input-textarea::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0984e3 !important;
  opacity: 1;
  /* Firefox */
}

.o-input-text::placeholder, .o-input-textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0984e3 !important;
  opacity: 1;
  /* Firefox */
}

.o-input-text:-ms-input-placeholder, .o-input-textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0984e3 !important;
}

.o-input-text::-ms-input-placeholder, .o-input-textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0984e3 !important;
}

.o-select {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
}

.container {
  width: 100%;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

@media (min-width: 375px) {
  .xs\:px-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    .xs\:px-container {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}

@media (min-width: 576px) {
  .sm\:px-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    .sm\:px-container {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}

@media (min-width: 768px) {
  .md\:px-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    .md\:px-container {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}

@media (min-width: 992px) {
  .lg\:px-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    .lg\:px-container {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}

@media (min-width: 1440px) {
  .xl\:px-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    .xl\:px-container {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}

@media (min-width: 1920px) {
  .xxl\:px-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    .xxl\:px-container {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}
