/* ==========================================================================
   #btn-reset
   ========================================================================== */

@mixin btn-reset() {
  -webkit-appearance: none;
  -webkit-box-align: center;
  user-select:none; 
}

/* ==========================================================================
   #btn-reset
   ========================================================================== */

@mixin btn-base-primary() {
  display:inline-block;
  
  color:$color-white;
  background-color:$color-purple;
  border-radius:0;

  font-size:14px;
  line-height:1;
  font-weight:500;
  text-decoration: none;

  &:hover {
    color:$color-white;
    background-color:$color-dark01;
  }
  
}