%list {
  padding-left:1em;
  
  li {
    margin-bottom:1em;
    
    &:last-child {
      margin-bottom:0;
    }
    
  }

}

@mixin list-style-dash() {
  
  li {
    
    &:before {
      content:"- ";
    }
    
  }
  
}