/* ==========================================================================
#unordered-list
========================================================================== */
$o-unordered-list: '.o-unordered-list';

// placeholder
%o-unordered-list {
    padding-left: 1em;
    list-style: disc;
}

// class
#{$o-unordered-list} {
    @extend %o-unordered-list;
}

/* ==========================================================================
#ordered-list
========================================================================== */
$o-ordered-list: '.o-ordered-list';

// placeholder
%o-ordered-list {
    padding-left: 0;
    list-style-type: none;
    counter-reset: number;

    li {

        &:before {
            content: counter(number)'. ';
            counter-increment: number;
        }
    }


}

// class
#{$o-ordered-list} {
    @extend %o-ordered-list;
}
