{# index.twig #}
{% extends "../_layout/base.twig" %}

{% block page %}

<div class="c-nav-sticky">sticky 123</div>

<h2>@tailwindcss/aspect-ratio</h2>
<a href="https://github.com/tailwindlabs/tailwindcss-aspect-ratio">Link</a>

<div class="aspect-w-16 aspect-h-9">
  <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div style="height: 200px" class="md:text-red-1 text-red text-b">dsadsadas</div>

<div class="h-24 bg-gradient-to-r from-red-1 to-gray-1"></div>

{% endblock %}

