{# index.twig #}
{% extends "../_layout/base.twig" %}

{% block page %}


<div class="c-nav-sticky">sticky</div>


<div style="height: 200px" class="md:text-red-1 text-red text-b">dsadsadas</div>

<div class="h-24 bg-gradient-to-r from-red-1 to-gray-1"></div>

{% endblock %}

