{% extends "../layouts/base.twig" %}

{% block content %}

    <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="row">
        <div class="col-small-4">4</div>
        <div class="col-small-4">4</div>
        <div class="col-small-4">4</div>
    </div>

{% endblock %}