{% extends "../layouts/base.twig" %}

{% block content %}

    <show-grid></show-grid>

    <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="row row--mb-desktop">
        <div class="col-small-12 col-desktop-4 col-large-3">4</div>
        <div class="col-small-12 col-desktop-4 col-large-6">4</div>
        <div class="col-small-12 col-desktop-4 col-large-3">4</div>
    </div>

    <div class="container-desktop-8 container-small-8">
        <div class="row row--mb-desktop">
            <div class="col-small-12 col-desktop-4 col-large-3">4</div>
            <div class="col-small-12 col-desktop-4 col-large-6">4</div>
            <div class="col-small-12 col-desktop-4 col-large-3">4</div>
        </div>
    </div>

    <section>

        <div class="row row--mb-desktop">
            <div class="col-small-12 col-desktop-6">4</div>
            <div class="col-small-12 col-desktop-6">4</div>
        </div>

    </section>

{% endblock %}