{# index.twig #}

{% extends '../_layout/base.twig' %}

{% block page %}
  <div id="preloader">
    <div class="txt">
      <p class="txt-perc">
        0%
      </p>
      <div id="progress" class="progress">
        <span></span>
      </div>
    </div>
  </div>

  <img src="https://picsum.photos/200/300?random=1" alt="" />
  <img src="https://picsum.photos/200/300?random=2" alt="" />
  <img src="https://picsum.photos/200/300?random=3" alt="" />
  <img src="https://picsum.photos/200/300?random=4" alt="" />
  <img src="https://picsum.photos/200/300?random=5" alt="" />
  <img src="https://picsum.photos/200/300?random=6" alt="" />
  <img src="https://picsum.photos/200/300?random=7" alt="" />
  <img src="https://picsum.photos/200/300?random=8" alt="" />
  <img src="https://picsum.photos/200/300?random=9" alt="" />
  <img src="https://picsum.photos/200/300?random=10" alt="" />

  <img src="/dist/images/carte.jpg" alt="" />
  <img src="/dist/images/carte2.jpg" alt="" />
  <img src="/dist/images/carte1.jpg" alt="" />
  <img src="/dist/images/carte.jpg" alt="" />
{% endblock %}
