{% extends '../_layout/base.twig' %}

{% block page %}
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam aut illum
    enim vitae? Eos modi officiis voluptatem corrupti. Necessitatibus quae
    eligendi rem optio dolor enim officia ea eveniet obcaecati suscipit!
  </p>
  <div class="min-h-screen py-12" style="background-color: #f2ebe5">
    <div class="border-o border-t border-b border-solid border-black pb-36">
      <div class="mx-auto" style="max-width: 1150px">
        <div class="flex items-center">
          <div class="w-1/2">
            <div class="pr-20">
              <h2 class="uppercase text-40 leading-none font-bold">
                Notre<br />histoire
              </h2>

              <div class="pl-14 mt-12 text-7 uppercase">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Doloribus debitis maxime omnis quaerat hic. Repellendus quas
                  repudiandae rem, perspiciatis ipsam dolore alias commodi
                  temporibus maxime distinctio libero molestiae dolor velit.
                </p>
                <p class="mt-4">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consequatur perferendis atque veritatis provident commodi vel
                  aut, dolorum vitae, voluptatibus, omnis aspernatur
                  exercitationem fugiat id molestias illum sapiente. Aliquid,
                  excepturi saepe!
                </p>
              </div>

              <div class="mt-12 flex justify-center">
                <ul class="" style="max-width: 300px">
                  <li class="flex items-center">
                    <div class="w-10 h-10 rounded-full border border-solid border-black mr-4"></div>
                    <div class="uppercase text-8 font-bold">
                      Nos valeur 1
                    </div>
                  </li>
                  <li class="flex items-center mt-4">
                    <div class="w-10 h-10 rounded-full border border-solid border-black mr-4"></div>
                    <div class="uppercase text-8 font-bold">
                      Nos valeur 1
                    </div>
                  </li>
                  <li class="flex items-center mt-4">
                    <div class="w-10 h-10 rounded-full border border-solid border-black mr-4"></div>
                    <div class="uppercase text-8 font-bold">
                      Nos valeur 1
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="w-1/2 relative">
            <img src="https://picsum.photos/100/100"
              class="absolute z-20 -top-10 -left-20"
              alt="" />
            <img src="https://picsum.photos/seed/picsum/640/840"
              class="relative -top-1px z-10"
              alt="" />
            <img src="https://picsum.photos/200/400"
              class="absolute z-20 -bottom-16 -right-12"
              alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
