/* ==========================================================================
#html
========================================================================== */

html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;

    &.no-scroll {
        @apply overflow-y-hidden;
    }

}

/* ==========================================================================
#body
========================================================================== */

body {
    @apply text-black text-8 font-body leading-none overflow-x-hidden bg-white;
}

/* ==========================================================================
#selection
========================================================================== */

::-moz-selection,
::selection {
    @apply text-white bg-blue-1;
}
