<!doctype html>
<html>
{% include '../blocks/head.twig' %}
<body>

    <div id="app">
        {% block header %}{% endblock %}

        {% block content %}{% endblock %}
    
        {% block footer %} {% endblock %}
    </div>

    {% block script %}{% endblock %}
    <script>
        function cbPolyfill() {
            console.log('polyfill loaded')
        }
    </script>
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?callback=cbPolyfill" defer></script>
    <script src="/dist/scripts/main.js" async defer></script>
</body>
</html>
