/* ==========================================================================
   #BREAKPOINT VISIBILITY
   ========================================================================== */


// Hide
/////////////////////////////
$i : 0;

@each $key, $val in $breakpoints {

  $i : $i + 1;
  $nextValue : $key;

  @if( $i < length($breakpoints) ) {

    $nextValue : nth( nth( $breakpoints, $i + 1 ), 2 );

  }

  .hide-#{$key} {

    @include media("<#{$nextValue}") {
      display:none;
    }

  }

}

// Show
/////////////////////////////
@each $key, $val in $breakpoints {

  .show-#{$key} {
    display:none;

    @include media(">=#{$val}") {
      display:block;
    }

  }

}

@each $key, $val in $breakpoints {

  .show-#{$key}-inline {
    display:none;

    @include media(">=#{$val}") {
      display:inline;
    }

  }

}

@each $key, $val in $breakpoints {

  .show-#{$key}-inline-block {
    display:none;

    @include media(">=#{$val}") {
      display:inline-block;
    }

  }

}

