/* ==========================================================================
    #MODAL
========================================================================== */

#{$modal} {
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.is-active {
    display: flex;
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(10, 10, 10, 0.86);
  }

  &__content {
    max-height: calc(100vh - 160px);
    margin: 0 20px;
    padding: 30px;
    overflow: auto;
    position: relative;
    background-color: #fff;
  }
  
  &__close {}

}

