/* ==========================================================================
    #MODAL
========================================================================== */

$c-modal : '.c-modal';

#{$c-modal} {
    align-items: center;
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-modal;

    &.is-active {
        display: flex;
    }

    &__overlay {
        background-color: rgba($color-black, 0.8);
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: $z-modal;
    }

    &__content {
        @include ios-scroll-smooth();

        background-color: $color-white;
        max-height: calc(100vh - 160px);
        max-width: 800px;
        overflow-y: auto;
        padding: 40px;
        position: relative;
        width: 100%;
        z-index: $z-modal + 1;
    }

    &__body {
        position: relative;
    }

    &__btn-close {
        position: absolute;
        right: 10px;
        top: 10px;
    }

}

/* ==========================================================================
    #VUE TRANSITION
========================================================================== */

/* in start */
.modal-enter {
    opacity: 0;
}

/* in end */
.modal-enter-active {
    transition: opacity 0.375s cubic-bezier(0.4, 0, 0.2, 1);

    /*opacity: 1; default value */
}

/* out start */
.modal-leave {

    /*opacity: 1; default value */
}

/* out end */
.modal-leave-active {
    opacity: 0;
    transition: opacity 0.375s cubic-bezier(0.4, 0, 0.2, 1);
}
