/* ==========================================================================
    #WYSIWYG
========================================================================== */

$c-wysiwyg: '.c-wysiwyg';

#{$c-wysiwyg} {
  
    /* lobotomized-owls*/
    /* https://alistapart.com/article/axiomatic-css-and-lobotomized-owls*/
    /*///////////////////////////*/
    > * + * {

        background: red;
        margin-top: 30px;
    }

    > *:first-child {
        margin-top: 0;
    }

    /* empty tag*/
    /*/////////////////////////// */
    p:empty {
        display: none;
    }

    /* heading*/
    /*/////////////////////////// */
    h1 {

        font-size: 2.4em;
        line-height: 1;
        margin-top: 0.58333em;
    }

    h2 {

        font-size: 1.6em;
        line-height: 1.1;
        margin-top: 1.75em;
    }

    h3 {

        font-size: 1.3em;
        margin-top: 1.07692em;
    }

    h4 {

        font-size: 1.2em;
        margin-top: 1.16667em;
    }

    h5 {

        font-size: 1.1em;
        margin-top: 1.27273em;
    }

    h6 {

        font-size: 1em;
        margin-top: 1.4em;
    }

    /* list*/
    /*/////////////////////////// */
    ol,
    ul {
        padding-left: 1.4em;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }
    
}

/* ==========================================================================
    #MODIFIER
========================================================================== */
