{% extends "../../sg-templates/_layouts/base.twig" %} 

{% set breakpoints = [ 
  {"name": "outer",   "value": "1350px"},  
  {"name": "large",   "value": "1200px"}, 
  {"name": "desktop", "value": "1024px"},
  {"name": "tablet",  "value": "768px"},
  {"name": "phone",   "value": "520px"}, 
  {"name": "small",   "value": "375px"}
] %}

{% block page %}

  <section class="sg-container-section">

    <h3 class="sg-h2">Media queries</h3>
    <p class="sg-text">include-media is a Sass library for writing CSS media queries in an easy and maintainable way, using a natural and simplistic syntax.</p>
    <p class="sg-text">More information : <a href="https://include-media.com/">include-media.com</a></p>

    <table class="sg-table">

      <thead>
        <tr>
          <th>Name</th>
          <th>value</th>
        </tr>
      </thead>

      <tbody>

        {% for item in breakpoints %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.value }}</td>
        </tr>
        {% endfor %}

      </tbody>

    </table>

  </section>
  
{% endblock %}
