{% extends "../../sg-templates/_layouts/base.twig" %} 

{% block page %}

{% set grids_12 = [ 
  ["12"],
  ["6","6"],
  ["4","4","4"],
  ["3","3","3","3"],
  ["2","2","2","2","2","2"],
  ["1","1","1","1","1","1","1","1","1","1","1","1"],
  ["8","4"],
  ["6","2","4"],
  ["8","4"],
] %}

<section class="sg-container-section ">



  <h2 class="sg-h2">Grid</h2>
  <div class="test">hello</div>

  <div class="sg-grid-demo">

    <h3 class="sg-h3">Base (12 slots)</h3>

    {% for grid in grids_12 %}
    <div class="lost-container-center-12">
      <div class="lost-row">
        {% for i in grid %}
        <div class="sg-col-style lost-column-{{ i }}">{{ i }}</div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

    <h3 class="sg-h3">Custom (8 slots)</h3>

    <div class="lost-container-center-8">

      <div class="lost-row test2">
        <div class="sg-col-style a">6</div>
        <div class="sg-col-style b">2</div>
        <div class="sg-col-style c">4</div>
      </div>
    
    </div>

  </div>

</section>

{% endblock %}