{% extends "../../sg-templates/_layouts/base.twig" %} 

{% block page %}

  <!-- section Icons -->
  <section class="sg-container-section">

    <h2 class="sg-h2">Index</h2>

  </section>

{% endblock %}