/* ==========================================================================
    #btn-reset
========================================================================== */

@mixin btn-reset() {
    user-select: none;

    -webkit-appearance: none;
    -webkit-box-align: center;
}

/* ==========================================================================
    #btn-primary
========================================================================== */

@mixin btn-primary() {
    display: inline-block;

    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
    overflow: hidden;
    vertical-align: middle;

    color: $color-white;
    border-radius: 0;
    background-color: $color-purple;

    &:hover {
    color: $color-white;
    background-color: $color-dark01;
    }

    &.is-disabled,
    &:disabled {}

    &.is-active {}
  
}

