/* ==========================================================================
    #btn-reset
========================================================================== */

@mixin btn-reset() {

    user-select: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
}

/* ==========================================================================
    #btn-primary
========================================================================== */

@mixin btn-primary() {

    display: inline-block;

    overflow: hidden;

    font-size: 14px;

    line-height: 1;
    font-weight: 500;
    vertical-align: middle;
    text-decoration: none;

    background-color: $color-purple;

    color: $color-white;
    border-radius: 0;

    &:hover {
        background-color: $color-dark01;
        color: $color-white;
    }

    &.is-disabled,
    &:disabled {}

    &.is-active {}
  
}

