<div class="sg-container-section">
    <h3 class="sg-h4" id="reladed-article-grid">
        <a href="#reladed-article-grid" class="sg-anchor">#</a>Single</h3>
</div>

<div class="c-reveal" onclick="this.classList.toggle('is-active');">
    <img class="c-reveal__logo" src="http://via.placeholder.com/100x100" alt="">
    <a href="#" class="c-reveal__btn btn-square btn-square--small">
        <svg class="icon icon-plus svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/files/main.svg#icon-plus"></use>
        </svg>
    </a>
    <a href="#" class="c-reveal__panel">
        <span>VIEW THE<br />CASE STUDY</span>
    </a>
</div>

<div class="sg-container-section">
    <h3 class="sg-h4" id="reladed-article-grid">
        <a href="#reladed-article-grid" class="sg-anchor">#</a>Grid</h3>
</div>

<div class="o-grid-c-reveal">

    {% set sizeCycle = ['110x110', '20x40', '110x110', '20x40', '50x50', '75x50', '150x70','50x100', '50x50', '75x50',  '110x110', '20x40', '50x50', '75x50', '150x70','50x100', '150x70','50x100'] %} 
    
    {% for i in 0..13 %}
    <div class="c-reveal" onclick="this.classList.toggle('is-active');">
        <img class="c-reveal__logo" src="http://via.placeholder.com/{{ cycle(sizeCycle, i) }}" alt="">
        <a href="#" class="c-reveal__btn btn-square btn-square--small">
            <svg class="icon icon-plus svg">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/files/main.svg#icon-plus"></use>
            </svg>
        </a>
        <a href="#" class="c-reveal__panel">
            <span>VIEW THE
                <br />CASE STUDY</span>
        </a>
    </div>
    {% endfor %}

</div>