<footer id="l-footer" class="l-footer" role="contentinfo">

    <div class="l-footer__container-contact o-container-big">

        <div class="l-footer__column-address">

            <a href="/" class="l-footer__logo">
                <img src="/themes/mutation/images/logo-mutation.svg" alt="Mutation">
            </a>

            <address class="l-footer__address">
                1435 Saint-Alexandre, suite 390
                <br /> Montréal, QC, Canada H3A 2G4
                <br /> +1 (514) 616-8046
                <br /> info@mutation.io
            </address>

        </div>

        <div class="l-footer__column-contact">

            <div class="l-footer__ready">ready <br />to talk?</div>
            <a href="#" class="l-footer__btn-contact btn-primary btn-primary--reverse">Contact us</a>

        </div>
    </div>


    <div class="l-footer__container-socials o-container-big">

        <ul class="l-footer__socials">
            <li><a href="#"><svg class="icon icon-linkedin svg"><use xlink:href="/files/main.svg#icon-linkedin"></use></svg></a></li>
            <li><a href="#"><svg class="icon icon-facebook svg"><use xlink:href="/files/main.svg#icon-facebook"></use></svg></a></li>
            <li><a href="#"><svg class="icon icon-twitter svg"><use xlink:href="/files/main.svg#icon-twitter"></use></svg></a></li>
        </ul>

    </div>  
   
</footer>