<article class="c-service">

    <header class="c-service__heading">
        <h2 class="c-service__title">On bâtit des solutions sur mesure</h2>
        <h3 class="c-service__subtitle">Pas des templates</h3>
    </header>

    <div class="c-service__body">
        <p>Pour assurer à notre clientèle le plein contrôle des solutions que nous proposons, toutes nos plateformes web sont bâties à l’aide de gestionnaires de contenu (CMS) reconnus pour leur fiabilité et leur performance. Grâce à des outils d’administration ergonomiques et faciles d’utilisation, nos clients disposent d’une grande autonomie pour donner vie à leur site et adapter leurs communications à l’évolution de leurs besoins.</p>
        <p>Exploiter toute la flexibilité des nouvelles technologies du web tout en respectant les normes d’accessibilités.</p>
    </div>

</article>