<div class="c-modal-overlay">


    <div class="c-modal">

        <a href="#" class="c-modal__btn-close">Close dsadsa</a>

        <h1>Lorem ipsum dolor sit amet, consectetu? 2</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem similique, voluptates. Doloremque expedita magnam adipisci nam rem harum minus doloribus quo aliquid culpa. Enim porro harum officia culpa asperiores nobis.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem similique, voluptates. Doloremque expedita magnam adipisci nam rem harum minus doloribus quo aliquid culpa. Enim porro harum officia culpa asperiores nobis.</p>

        <button>Custom - Modal close</button>
        
    </div>

</div>