/* ==========================================================================
    #unordered-list
========================================================================== */

%o-unordered-list {
    padding-left: 1em;
    list-style: disc;
}

.o-unordered-list {
    @extend %o-unordered-list;
}

/* ==========================================================================
    #ordered-list
========================================================================== */

%o-ordered-list {
    padding-left: 1em;
    list-style-type: decimal;
}

.o-ordered-list {
    @extend %o-ordered-list; 
}
