{% extends "../_layouts/base.twig" %}

{% block page %}

{% include "../_partials/_page-headline-small.twig" with {'style': 'gray', 'type' : 'simple' } %}

<div class="l-contact-info">
    <div class="o-container-medium">

    </div>
</div>

{% endblock %}