{% extends "../_layouts/base.twig" %}

{% block page %}

{% include "../_partials/_page-headline-small.twig" with {'style': '', 'type' : '' } %}

<div class="l-contact-info">
    <div class="o-container-medium">
        <div class="o-contact">

            <div class="o-contact__main">

                <div class="c-contact-field c-contact-field--body-large">
                    <h2 class="c-contact-field__title">Un projet?</h2>
                    <div class="c-contact-field__body">
                        prêt à discuter d’un projet? écrivez-nous à
                        <a href="#">info@mutation.io</a>
                    </div>
                </div>

            </div>

            <div class="o-contact__spec">

                <ul class="o-list-spec">
                    <li>
                        <div class="c-contact-field">
                            <h2 class="c-contact-field__title">Adresse</h2>
                            <div class="c-contact-field__body">
                                <address>
                                    1435 Saint-Alexandre, suite 390
                                    <br /> Montréal, QC, Canada, H3A 2G4
                                </address>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="c-contact-field">
                            <h2 class="c-contact-field__title">Téléphone</h2>
                            <div class="c-contact-field__body">
                                <a href="#" class="c-contact-field__body">(514) 360-1191</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="c-contact-field">
                            <h2 class="c-contact-field__title">Adresse</h2>
                            <div class="c-contact-field__body">
                                <a href="#" class="c-contact-field__body">talent@mutation.io</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>


{% endblock %}