{% extends "../_layouts/base.twig" %}

{% block page %}

<!-- section Footer -->
<section class="sg-container-section">

	<h2 class="sg-h2">Footer</h2>

</section>

<div class="sg-preview sg-preview--full">
	{% include "../_partials/_footer.twig" %}
</div>

{% endblock %}

