<form class="c-form">

    <div class="group-input">
        <label>Prénom</label>
        <input type="text" value="" placeholder="Prénom" />
    </div>

    <br />

    <div class="group-input is-filled">
        <label>Prénom</label>
        <input type="text" value="Lorem..." />
    </div>

    <br />

    <div class="group-input">
        <label>Votre message...</label>
        <textarea placeholder="Votre message..."></textarea>
    </div>

    <br />

    <div class="group-input is-filled">
        <label>Votre message...</label>
        <textarea>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis excepturi ab nihil vel ad minima numquam eius pariatur eveniet omnis! Dolorem fugiat adipisci doloremque ipsum numquam ad eaque incidunt facilis! </textarea>
    </div>

    <br />

    <input type="submit" value="Envoyer" class="wpcf7-form-control wpcf7-submit">

    <br />

</form>

