
/* ==========================================================================
    #HTML-BODY
========================================================================== */
body,
html {}

/* ==========================================================================
    #HTML
========================================================================== */

html {
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%; /* iOS 8+ */
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;

    &:not(.has-no-scroll) {
        overflow-y: scroll;
    }
    
    &.has-no-scroll {
        overflow: hidden;
    }

}

/* ==========================================================================
    #BODY
========================================================================== */

body {
    font-family: $font-text;
    font-size: 10px;
    line-height: $font-text-line-height;
    word-wrap: break-word;
    word-break: normal;

    color: $color-black;
    background-color: $color-white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    overflow: visible;
    height: 100%;
}













