.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    stroke: currentColor;
    stroke-width: 0;
    width: 1em;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-circle {}

.icon-plus {}

.icon-sales {
    width: 1.220703125em;
}

.icon-location {
    width: 0.724609375em;
}

.icon-montreal {
    width: 0.3740234375em;
}

.icon-moscow {
    width: 0.4208984375em;
}

.icon-pagi-arrow-next {
    width: 0.578125em;
}

.icon-pagi-arrow-prev {
    width: 0.578125em;
}

.icon-parts {
    width: 1.541015625em;
}

.icon-plane {
    width: 1.0419921875em;
}

.icon-repair {
    width: 0.9990234375em;
}

.icon-share {
    width: 1.0029296875em;
}

.icon-social {
    width: 1.5908203125em;
}

.icon-supplier-portal {
    width: 1.4990234375em;
}

.icon-twitter {
    width: 1.23046875em;
}

.icon-warranty {
    width: 0.6357421875em;
}

.icon-youtube {
    width: 0.826171875em;
}

.icon-arrow-down {
    width: 0.73046875em;
}

.icon-arrow-dropdown {
    width: 1.5927734375em;
}

.icon-arrow-left {
    width: 1.3701171875em;
}

.icon-arrow-play {
    width: 0.9111328125em;
}

.icon-arrow-right {
    width: 1.3701171875em;
}

.icon-arrow-up {
    width: 0.73046875em;
}

.icon-bangkok {
    width: 0.90234375em;
}

.icon-berlin {
    width: 0.376953125em;
}

.icon-card-portal {
    width: 1.40234375em;
}

.icon-check {
    width: 1.1298828125em;
}

.icon-diagnostic {
    width: 1.0205078125em;
}

.icon-exchanges {
    width: 1.1640625em;
}

.icon-facebook {
    width: 0.51953125em;
}

.icon-green {
    width: 0.71875em;
}

.icon-like {
    width: 1.154296875em;
}

.icon-linkedin {
    width: 1.0458984375em;
}
