/* ==========================================================================
#HEADING
========================================================================== */

@mixin h1() {

    @include media('<desktop') {
        font-size: heading-size-mobile('h1');
    }

    @include media('>=desktop') {
        font-size: heading-size('h1');
    }

}

@mixin h2() {

    @include media('<desktop') {
        font-size: heading-size-mobile('h2');
    }

    @include media('>=desktop') {
        font-size: heading-size('h2');
    }

}

@mixin h3() {

    @include media('<desktop') {
        font-size: heading-size-mobile('h3');
    }

    @include media('>=desktop') {
        font-size: heading-size('h3');
    }

}

@mixin h4() {

    @include media('<desktop') {
        font-size: heading-size-mobile('h4');
    }

    @include media('>=desktop') {
        font-size: heading-size('h4');
    }

}

@mixin h5() {

    @include media('<desktop') {
        font-size: heading-size-mobile('h5');
    }

    @include media('>=desktop') {
        font-size: heading-size('h5');
    }

}

@mixin h6() {

    @include media('<desktop') {
        font-size: heading-size-mobile('h6');
    }

    @include media('>=desktop') {
        font-size: heading-size('h6');
    }

}

.h1 {
    @include h1();
}

.h2 {
    @include h2();
}

.h3 {
    @include h3();
}

.h4 {
    @include h4();
}

.h5 {
    @include h5();
}

.h6 {
    @include h6();
}


/* ==========================================================================
#TEXT
========================================================================== */

@mixin t1() {

    @include media('<desktop') {
        font-size: text-size-mobile('t1');
    }

    @include media('>=desktop') {
        font-size: text-size('t1');
    }

}

@mixin t2() {

    @include media('<desktop') {
        font-size: text-size-mobile('t2');
    }

    @include media('>=desktop') {
        font-size: text-size('t2');
    }

}

@mixin t3() {

    @include media('<desktop') {
        font-size: text-size-mobile('t3');
    }

    @include media('>=desktop') {
        font-size: text-size('t3');
    }

}

@mixin t4() {

    @include media('<desktop') {
        font-size: text-size-mobile('t4');
    }

    @include media('>=desktop') {
        font-size: text-size('t4');
    }

}

@mixin t5() {

    @include media('<desktop') {
        font-size: text-size-mobile('t5');
    }

    @include media('>=desktop') {
        font-size: text-size('t5');
    }

}

@mixin t6() {

    @include media('<desktop') {
        font-size: text-size-mobile('t6');
    }

    @include media('>=desktop') {
        font-size: text-size('t6');
    }
}

.t1 {
    @include t1();
}

.t2 {
    @include t2();
}

.t3 {
    @include t3();
}

.t4 {
    @include t4();
}

.t5 {
    @include t5();
}

.t6 {
    @include t6();
}
