/* ==========================================================================
    #SELECTORS
========================================================================== */

// elements
/////////////////////////////

// compnents
/////////////////////////////

// layouts
/////////////////////////////
$sg-wrapper : '.l-wrapper';
$sg-header : '.l-header';
$sg-nav : '.l-nav';
$sg-content : '.l-content';
$sg-footer : '.l-footer';

// objects
/////////////////////////////
$sg-container : '.o-container';

// pages
/////////////////////////////


// themes
/////////////////////////////

