/* ==========================================================================
    #CONFIG
    ========================================================================== */

$sg-env : 'dev' !default;

/* ==========================================================================
    #FOLDER
    ========================================================================== */

$sg-folder-fonts: '../fonts/' !default;
$sg-folder-images: '../images/' !default;
$sg-folder-svg: '../svg/' !default;
$sg-icomoon-font-path: $sg-folder-fonts !default;
$sg-folder-node-modules : '../../node_modules/' !default;

/* ==========================================================================
    #TYPOGRAPHY
    ========================================================================== */

$sg-Roboto: 'Roboto', sans-serif !default;
$sg-code : Menlo,Monaco,Consolas,Courier New,monospace,monospace !default;

$sg-font-heading: $sg-Roboto !default;
$sg-font-heading-line-height : 1.4 !default;
$sg-font-text: $sg-Roboto !default;
$sg-font-text-line-height : 1.4 !default;

$sg-map-font-sizes-heading: (
  'h1':  40px,
  'h2':  32px,
  'h3':  27px,
  'h4':  20px,
  'h5':  18px,  
  'h6':  16px 
) !default;

$sg-map-font-sizes-text: (
  'small':  16px,
  'medium': 18px,
  'large':  24px,
) !default;

$sg-font-weight-light: 300 !default;
$sg-font-weight-regular: 400 !default;
$sg-font-weight-bold: 700 !default;
$sg-font-weight-black: 900 !default;

/* ==========================================================================
    #COLORS
    ========================================================================== */

$sg-color-white: #fff !default;
$sg-color-black: #000 !default;
$sg-color-brand : #3f2ab1 !default;
$sg-color-text: #1a1a1a !default;
$sg-color-border: #e6e6e6 !default;

$sg-color-code: #f2f0f9 !default;
$sg-color-gray : #808080 !default;

// Typo
$sg-color-text: $sg-color-white !default;
$sg-color-heading: $sg-color-black !default;


// Text selection
$sg-text-selection-color : #000 !default;
$sg-text-selection-bg : #b3d4fc !default;

/* ==========================================================================
    #MEDIA-QUERIES
    ========================================================================== */

$sg-padding-mobile : 20px !default;
$sg-padding-mobile-x : 20px !default;
$sg-padding-mobile-y : 20px !default;

/* ==========================================================================
    #CONTAINER
    ========================================================================== */

$sg-map-containers: (
  'mini':   320px,
  'tiny':   600px,
  'small':  700px,
  'medium': 900px,
  'large':  960px,
  'big':    1100px,
  'max':    1440px,
  'full':   100%,  
) !default;




