/*
Container

Container styles

-large - large variant
-xlarge - xlarge variant
-wide - wide variant
-site - site variant
-xsite - xsite variant

markup:
<div class="o-container{$modifiers}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat nulla eu fermentum varius. Sed tempor ut tellus vitae posuere. Praesent et tempor ipsum, eu laoreet nunc.</div>

Styleguide 2.7
*/

$o-container: '.o-container';

#{$o-container}-large {
    @include center();
    max-width: $maxWidth-large;
}

#{$o-container}-xlarge {
    @include center();
    max-width: $maxWidth-xlarge;
}

#{$o-container}-wide {
    @include center();
    max-width: $maxWidth-wide;
}

#{$o-container}-site {
    @include center();
    max-width: $maxWidth-site;
}

#{$o-container}-xsite {
    @include center();
    max-width: $maxWidth-xsite;
}

@mixin container-padding-responsive() {
    padding-right: 20px;
    padding-left: 20px;

    @include media('>=md') {
        padding-right: 25px;
        padding-left: 25px;
    }

}

@mixin container-padding-responsive-left() {
    padding-left: 20px;

    @include media('>=md') {
        padding-left: 25px;
    }

}

@mixin container-padding-responsive-right() {
    padding-right: 20px;

    @include media('>=md') {
        padding-right: 25px;
    }

}

.o-release {
    margin-right: calc(-50vw + 50%);
    margin-left: calc(-50vw + 50%);

    img {
        @include center();
    }


    background: #0d6a58;
    text-align: center;
}
