/* ==========================================================================
#GRID
Framework : LOST
Doc : http://lostgrid.org/docs.html
Example : http://lostgrid.org/lostgrid-example.html
========================================================================== */

@each $name, $value in $breakpoints {
    @include make-lost-container-mq($name, $grid-max-columns);
}

// Build row with margin-bottom when below breakpoint
// eg row--mb-desktop
@include make-lost-row-mq($breakpoints);

// Build column with breakpoints
@each $name, $value in $breakpoints {
    @include make-lost-columns-mq($name, $grid-max-columns);
}

// Class helpers

.row {
    lost-flex-container: row;
}
