/* ==========================================================================
#GRID
Framework : LOST
Doc : http://lostgrid.org/docs.html
Example : http://lostgrid.org/lostgrid-example.html
========================================================================== */

/* row */
/*///////////////////////////*/
.o-row {
  lost-flex-container: row;
}



@each $name, $value in $desktop-first-breakpoints {
  @include make-row-mq($name);
  @include make-columns-mq($name, $lost-grid-columns);
}


