@mixin breakpoint-helper() {
    
    &:before {
        padding: 10px;
        display: block;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: $zIndex-debug-bp;
        font-weight: 700;
        text-transform: uppercase;
        background: #ccc;

        @each $name, $value in $breakpoints {

            @if ($name=='sm') {

                @include media('<sm') {
                    content: 'xs';
                }

                @include media('>=#{$name}') {
                    content: '#{$name}';
                }

            }

            @else {

                @include media('>=#{$name}') {
                    content: '#{$name}';
                }

            }

        }

    }

}
