// Buttons (title, same as before)
//
// Various button styles. (description, just as before)
//
// Markup: (we add the `{{modifier_class}}` to every element that has a modifier)
// Link Button
// <button class="btn {{modifier_class}}">Button Element</button>
// <input class="btn {{modifier_class}}" type="button" value="Input Button" />
//
// (a new modifiers section) <br >
// :hover - When user hovers over button. <br >
// :focus - When button is focused. <br >
// .button--small - A small button. <br >
// .button--large - A large button. <br >
//
// Styleguide Components.button (organization, just as before)

.btn {
    background: red;
}

/* ==========================================================================
    #btn-reset
========================================================================== */

@mixin btn-reset() {
    appearance: none;
    user-select: none;
}

/* ==========================================================================
    #btn-primary
========================================================================== */

@mixin btn-primary() {
    display: inline-block;
    overflow: hidden;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    vertical-align: middle;
    background-color: $color-purple;
    border-radius: 0;

    &:hover {
        color: $white;
        background-color: $color-dark01;
    }

    &.is-disabled,
    &:disabled {
        color: #ccc;
    }

    &.is-active {
        color: red;
    }

}

