/* ==========================================================================
    #SHAME
========================================================================== */

/* demo */

.sg-mixins-center-demo {
    max-width: 400px;
    @include center-block();
}

.sg-mixins-placeholder-demo {
    input,  
    textarea,
    .placeholder {  

        border:1px solid #ccc;

        @include input-placeholder() {
            color: #ccc;
        }
    }

}

.sg-mixins-placeholder-demo2 {
    input,  
    textarea,
    .placeholder {  
        @include input-placeholder() {
            color: red;
        }
    }

}
  
.sg-mixins-padding-desktop-demo {
    @include padding-desktop();
}

.sg-mixins-padding-tablet-demo {
    @include padding-tablet();
}


.sg-mixins-padding-mobile-demo {
    @include padding-mobile();
}

.sg-mixins-padding-container-demo {
    @include padding-container();
}


.sg-mixins-ratio-demo-16-9 {  
    background: #ccc;
    @include ratio(16,9);
}

.sg-mixins-ratio-demo-4-3 { 
    background: #bbb;
    @include ratio(4,3);
}

.sg-mixins-ratio-demo-1-1 {  
    background: #aaa;
    @include ratio(1,1);
}


.sg-mixins-text-truncate-demo1 {
    @include truncate(50px);
}

.sg-mixins-text-truncate-demo2 {
    @include truncate(200px);
}

.sg-mixins-iframe-ratio-demo1 {
    @include iframe-ratio(16,9);
}

.sg-mixins-iframe-ratio-demo2 {
    @include iframe-ratio(4,3);
}

.sg-mixins-iframe-ratio-demo3 {
    @include iframe-ratio(1,1);
}


.lost-container {}

.lost-container-row {}

.lost-row {}

.lost-column {}

.grid-12 {
    background: red;

    @include media('>=desktop') {
        @include lost-container-center( 10 );
    }    

    & > div {
        width: 100%;
    }

}


.test2 {
    & > div {
        background-color: pink;
    }

    .a {
        lost-column : 4/8 0 $lost-gutter-desktop;
    }

    .b {
        lost-column : 2/8 0 $lost-gutter-desktop;
    }

    .c {
        lost-column : 2/8 0 $lost-gutter-desktop;
    }
    
}


.test {
    & > div {
        background-color: red;
    }
  
    .a {
  
        @include media('>=tablet') {
            lost-column : 4/12 0 $lost-gutter-desktop;
            @include lost-offset( 2 );
        }
  
        @include media('<tablet') {
            lost-column : 6/12 0 $lost-gutter-desktop;
        }
  
    }
  
    .b {
  
        @include media('>=tablet') {
  
            lost-column : 2/12 0 $lost-gutter-desktop;
        }
  
        @include media('<tablet') {
            lost-column : 3/12 0 $lost-gutter-desktop;
        }
  
    }
  
    .c {
        @include media('>=tablet') {
  
            lost-column : 2/12 0 $lost-gutter-desktop;
        }
  
        @include media('<tablet') {
            lost-column : 3/12 0 $lost-gutter-desktop;
        }
    }
  
  
}


.is-sticky {
    background-color: red;
    left: 0;

    position: fixed;

    top: 0;

    width: 100%;

    
    z-index: 1000;
}

//https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-order/README.md
a {
    color: pink;

    font-size: 2px;
    font-weight: bold;

    height: 1px;
    top: 0;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 2px;
}