/* ==========================================================================
    #SHAME
========================================================================== */

/* demo */

.sg-mixins-center-demo {
    @include center-block();
    max-width: 400px;
}

.sg-mixins-placeholder-demo {
    input,  
    textarea,
    .placeholder {

        @include input-placeholder() {
            color: #ccc;
        }  

        border:1px solid #ccc;
    }

}

.sg-mixins-placeholder-demo2 {
    input,  
    textarea,
    .placeholder {  
        @include input-placeholder() {
            color: red;
        }
    }

}
  
.sg-mixins-padding-desktop-demo {
    @include padding-desktop();
}

.sg-mixins-padding-tablet-demo {
    @include padding-tablet();
}


.sg-mixins-padding-mobile-demo {
    @include padding-mobile();
}

.sg-mixins-padding-container-demo {
    @include padding-container();
}


.sg-mixins-ratio-demo-16-9 {
    @include ratio(16,9);  
    background: #ccc;
}

.sg-mixins-ratio-demo-4-3 {
    @include ratio(4,3); 
    background: #bbb;
}

.sg-mixins-ratio-demo-1-1 {
    @include ratio(1,1);  
    background: #aaa;
}


.sg-mixins-text-truncate-demo1 {
    @include truncate(50px);
}

.sg-mixins-text-truncate-demo2 {
    @include truncate(200px);
}

.sg-mixins-iframe-ratio-demo1 {
    @include iframe-ratio(16,9);
}

.sg-mixins-iframe-ratio-demo2 {
    @include iframe-ratio(4,3);
}

.sg-mixins-iframe-ratio-demo3 {
    @include iframe-ratio(1,1);
}


.lost-container {}

.lost-container-row {}

.lost-row {}

.lost-column {}

.grid-12 {
    background: red;

    @include media('>=desktop') {
        @include lost-container-center( 10 );
    }    

    & > div {
        width: 100%;
    }

}


.test2 {
    & > div {
        background-color: pink;
    }

    .a {
        lost-column : 4/8 0 $lost-gutter-desktop;
    }

    .b {
        lost-column : 2/8 0 $lost-gutter-desktop;
    }

    .c {
        lost-column : 2/8 0 $lost-gutter-desktop;
    }
    
}


.test {
    & > div {
        background-color: red;
    }
  
    .a {
  
        @include media('>=tablet') {
            @include lost-offset( 2 );
            lost-column : 4/12 0 $lost-gutter-desktop;
        }
  
        @include media('<tablet') {
            lost-column : 6/12 0 $lost-gutter-desktop;
        }
  
    }
  
    .b {
  
        @include media('>=tablet') {
  
            lost-column : 2/12 0 $lost-gutter-desktop;
        }
  
        @include media('<tablet') {
            lost-column : 3/12 0 $lost-gutter-desktop;
        }
  
    }
  
    .c {
        @include media('>=tablet') {
  
            lost-column : 2/12 0 $lost-gutter-desktop;
        }
  
        @include media('<tablet') {
            lost-column : 3/12 0 $lost-gutter-desktop;
        }
    }
  
  
}


.is-sticky {
    padding: 1em;
    padding-top: 1em;
    padding-left: 2em;
    color: pink;
}

a {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
