$gridColumns-1_2: 50%;
$gridColumns-1_3: 33.33333%;
$gridColumns-2_3: 66.66667%;
$gridColumns-2_5: 40%;
$gridColumns-1_4: 25%;
$gridColumns-3_4: 75%;
$gridColumns-1_5: 20%;
$gridColumns-3_5: 60%;
$gridColumns-4_5: 80%;
$gridColumns-1_6: 16.66667%;
$gridColumns-5_6: 83.33333%;
$gridColumns-1_12: 8.333333333%;
$gridColumns-2_12: 16.66666667%;
$gridColumns-3_12: 25%;
$gridColumns-4_12: 33.33333333%;
$gridColumns-5_12: 41.66666667%;
$gridColumns-6_12: 50%;
$gridColumns-7_12: 58.33333333%;
$gridColumns-8_12: 66.66666667%;
$gridColumns-9_12: 75%;
$gridColumns-10_12: 83.33333333%;
$gridColumns-11_12: 91.66666667%;

$colors-transparent: transparent;
$colors-black: #000;
$colors-white: #fff;
$colors-gray-0: #f9f9f9;
$colors-gray-100: #111;
$colors-gray-200: #222;
$colors-gray-300: #333;
$colors-gray-400: #ccc;
$colors-gray-600: #666;
$colors-gray-900: #999;
$colors-entry-type-pages: #000;

$spacing-0: 0;
$spacing-px: 1px;
$spacing-5px: 5px;
$spacing-10px: 10px;
$spacing-15px: 15px;
$spacing-20px: 20px;
$spacing-25px: 25px;
$spacing-30px: 30px;
$spacing-35px: 35px;
$spacing-40px: 40px;
$spacing-45px: 45px;
$spacing-50px: 50px;
$spacing-55px: 55px;
$spacing-60px: 60px;
$spacing-65px: 65px;
$spacing-70px: 70px;
$spacing-75px: 75px;
$spacing-80px: 80px;
$spacing-85px: 85px;
$spacing-90px: 90px;
$spacing-95px: 95px;
$spacing-100px: 100px;

$screens-sm: 576px;
$screens-md: 768px;
$screens-lg: 992px;
$screens-xl: 1440px;

$fontFamily-roboto-0: Roboto;
$fontFamily-roboto-1: "Helvetica Neue";
$fontFamily-roboto-2: Arial;
$fontFamily-georgia-0: Georgia;
$fontFamily-georgia-1: Cambria;
$fontFamily-georgia-2: "Times New Roman";
$fontFamily-georgia-3: Times;
$fontFamily-georgia-4: serif;

$fontSize-t1: 5.75rem;
$fontSize-t2: 4.875rem;
$fontSize-t3: 3rem;
$fontSize-t4: 2.125rem;
$fontSize-t5: 1.25rem;

$fontWeight-hairline: 100;
$fontWeight-thin: 200;
$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;
$fontWeight-extrabold: 800;
$fontWeight-black: 900;

$lineHeight-none: 1;
$lineHeight-tight: 1.25;
$lineHeight-snug: 1.375;
$lineHeight-normal: 1.5;
$lineHeight-relaxed: 1.625;
$lineHeight-loose: 2;

$letterSpacing-tighter: -.05em;
$letterSpacing-tight: -.025em;
$letterSpacing-normal: 0;
$letterSpacing-wide: .025em;
$letterSpacing-wider: .05em;
$letterSpacing-widest: .1em;

$textColor-transparent: transparent;
$textColor-black: #000;
$textColor-white: #fff;
$textColor-gray-0: #f9f9f9;
$textColor-gray-100: #111;
$textColor-gray-200: #222;
$textColor-gray-300: #333;
$textColor-gray-400: #ccc;
$textColor-gray-600: #666;
$textColor-gray-900: #999;
$textColor-entry-type-pages: #000;

$backgroundColor-transparent: transparent;
$backgroundColor-black: #000;
$backgroundColor-white: #fff;
$backgroundColor-gray-0: #f9f9f9;
$backgroundColor-gray-100: #111;
$backgroundColor-gray-200: #222;
$backgroundColor-gray-300: #333;
$backgroundColor-gray-400: #ccc;
$backgroundColor-gray-600: #666;
$backgroundColor-gray-900: #999;
$backgroundColor-entry-type-pages: #000;

$backgroundPosition-bottom: bottom;
$backgroundPosition-center: center;
$backgroundPosition-left: left;
$backgroundPosition-left-bottom: left bottom;
$backgroundPosition-left-top: left top;
$backgroundPosition-right: right;
$backgroundPosition-right-bottom: right bottom;
$backgroundPosition-right-top: right top;
$backgroundPosition-top: top;

$backgroundSize-auto: auto;
$backgroundSize-cover: cover;
$backgroundSize-contain: contain;

$borderWidth-0: 0;
$borderWidth-2: 2px;
$borderWidth-4: 4px;
$borderWidth-8: 8px;
$borderWidth-default: 1px;

$borderColor-default: #333;
$borderColor-transparent: transparent;
$borderColor-black: #000;
$borderColor-white: #fff;
$borderColor-gray-0: #f9f9f9;
$borderColor-gray-100: #111;
$borderColor-gray-200: #222;
$borderColor-gray-300: #333;
$borderColor-gray-400: #ccc;
$borderColor-gray-600: #666;
$borderColor-gray-900: #999;
$borderColor-entry-type-pages: #000;

$borderRadius-none: 0;
$borderRadius-default: 10px;

$cursor-auto: auto;
$cursor-default: default;
$cursor-pointer: pointer;
$cursor-wait: wait;
$cursor-move: move;
$cursor-not-allowed: not-allowed;

$width-0: 0;
$width-auto: auto;
$width-px: 1px;
$width-5px: 5px;
$width-10px: 10px;
$width-15px: 15px;
$width-20px: 20px;
$width-25px: 25px;
$width-30px: 30px;
$width-35px: 35px;
$width-40px: 40px;
$width-45px: 45px;
$width-50px: 50px;
$width-55px: 55px;
$width-60px: 60px;
$width-65px: 65px;
$width-70px: 70px;
$width-75px: 75px;
$width-80px: 80px;
$width-85px: 85px;
$width-90px: 90px;
$width-95px: 95px;
$width-100px: 100px;
$width-1_2: 50%;
$width-1_3: 33.33333%;
$width-2_3: 66.66667%;
$width-2_5: 40%;
$width-1_4: 25%;
$width-3_4: 75%;
$width-1_5: 20%;
$width-3_5: 60%;
$width-4_5: 80%;
$width-1_6: 16.66667%;
$width-5_6: 83.33333%;
$width-1_12: 8.333333333%;
$width-2_12: 16.66666667%;
$width-3_12: 25%;
$width-4_12: 33.33333333%;
$width-5_12: 41.66666667%;
$width-6_12: 50%;
$width-7_12: 58.33333333%;
$width-8_12: 66.66666667%;
$width-9_12: 75%;
$width-10_12: 83.33333333%;
$width-11_12: 91.66666667%;
$width-full: 100%;
$width-screen: 100vw;

$height-0: 0;
$height-auto: auto;
$height-px: 1px;
$height-5px: 5px;
$height-10px: 10px;
$height-15px: 15px;
$height-20px: 20px;
$height-25px: 25px;
$height-30px: 30px;
$height-35px: 35px;
$height-40px: 40px;
$height-45px: 45px;
$height-50px: 50px;
$height-55px: 55px;
$height-60px: 60px;
$height-65px: 65px;
$height-70px: 70px;
$height-75px: 75px;
$height-80px: 80px;
$height-85px: 85px;
$height-90px: 90px;
$height-95px: 95px;
$height-100px: 100px;
$height-full: 100%;
$height-screen: 100vh;

$minWidth-0: 0;
$minWidth-full: 100%;

$minHeight-0: 0;
$minHeight-full: 100%;
$minHeight-screen: 100vh;

$maxWidth-xs: 20rem;
$maxWidth-sm: 24rem;
$maxWidth-md: 28rem;
$maxWidth-lg: 32rem;
$maxWidth-xl: 36rem;
$maxWidth-2xl: 42rem;
$maxWidth-3xl: 48rem;
$maxWidth-4xl: 56rem;
$maxWidth-5xl: 64rem;
$maxWidth-6xl: 72rem;
$maxWidth-full: 100%;
$maxWidth-website: 1240px;

$maxHeight-full: 100%;
$maxHeight-screen: 100vh;

$padding-0: 0;
$padding-xs: 10px;
$padding-sm: 15px;
$padding-md: 20px;
$padding-lg: 25px;
$padding-xl: 25px;
$padding-px: 1px;
$padding-5px: 5px;
$padding-10px: 10px;
$padding-15px: 15px;
$padding-20px: 20px;
$padding-25px: 25px;
$padding-30px: 30px;
$padding-35px: 35px;
$padding-40px: 40px;
$padding-45px: 45px;
$padding-50px: 50px;
$padding-55px: 55px;
$padding-60px: 60px;
$padding-65px: 65px;
$padding-70px: 70px;
$padding-75px: 75px;
$padding-80px: 80px;
$padding-85px: 85px;
$padding-90px: 90px;
$padding-95px: 95px;
$padding-100px: 100px;

$margin-0: 0;
$margin-auto: auto;
$margin-px: 1px;
$margin-5px: 5px;
$margin-10px: 10px;
$margin-15px: 15px;
$margin-20px: 20px;
$margin-25px: 25px;
$margin-30px: 30px;
$margin-35px: 35px;
$margin-40px: 40px;
$margin-45px: 45px;
$margin-50px: 50px;
$margin-55px: 55px;
$margin-60px: 60px;
$margin-65px: 65px;
$margin-70px: 70px;
$margin-75px: 75px;
$margin-80px: 80px;
$margin-85px: 85px;
$margin-90px: 90px;
$margin-95px: 95px;
$margin-100px: 100px;

$negativeMargin-0: 0;
$negativeMargin-px: 1px;
$negativeMargin-5px: 5px;
$negativeMargin-10px: 10px;
$negativeMargin-15px: 15px;
$negativeMargin-20px: 20px;
$negativeMargin-25px: 25px;
$negativeMargin-30px: 30px;
$negativeMargin-35px: 35px;
$negativeMargin-40px: 40px;
$negativeMargin-45px: 45px;
$negativeMargin-50px: 50px;
$negativeMargin-55px: 55px;
$negativeMargin-60px: 60px;
$negativeMargin-65px: 65px;
$negativeMargin-70px: 70px;
$negativeMargin-75px: 75px;
$negativeMargin-80px: 80px;
$negativeMargin-85px: 85px;
$negativeMargin-90px: 90px;
$negativeMargin-95px: 95px;
$negativeMargin-100px: 100px;

$objectPosition-bottom: bottom;
$objectPosition-center: center;
$objectPosition-left: left;
$objectPosition-left-bottom: left bottom;
$objectPosition-left-top: left top;
$objectPosition-right: right;
$objectPosition-right-bottom: right bottom;
$objectPosition-right-top: right top;
$objectPosition-top: top;

$boxShadow-default: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
$boxShadow-md: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
$boxShadow-lg: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
$boxShadow-xl: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
$boxShadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, .25);
$boxShadow-inner: inset 0 2px 4px 0 rgba(0,0,0,0.06);
$boxShadow-outline: 0 0 0 3px rgba(66,153,225,0.5);
$boxShadow-none: none;

$zIndex-0: 0;
$zIndex-10: 10;
$zIndex-20: 20;
$zIndex-30: 30;
$zIndex-40: 40;
$zIndex-50: 50;
$zIndex-auto: auto;
$zIndex-nav-sticky: 99;
$zIndex-nav-mobile: 99;
$zIndex-overlay: 99;
$zIndex-modal: 100;
$zIndex-debug-bp: 10000;

$opacity-0: 0;
$opacity-25: .25;
$opacity-50: .5;
$opacity-75: .75;
$opacity-100: 1;

$fill-current: currentColor;

$stroke-current: currentColor;

$flex-1: 1 1 0%;
$flex-auto: 1 1 auto;
$flex-initial: 0 1 auto;
$flex-none: none;

$flexGrow-0: 0;
$flexGrow-default: 1;

$flexShrink-0: 0;
$flexShrink-default: 1;

$listStyleType-none: none;
$listStyleType-disc: disc;
$listStyleType-decimal: decimal;

$inset-0: 0;
$inset-auto: auto;

$container-center: true;
$container-padding: 1rem;

$iconSize-0: 0;
$iconSize-10: 10;
$iconSize-20: 20;
$iconSize-30: 30;
$iconSize-40: 40;
$iconSize-50: 50;
$iconSize-auto: auto;

