/* ==========================================================================
    #CONFIG
==========================================================================  */

$is-dev: '.is-dev' !default;

/* ==========================================================================
    #FOLDER
==========================================================================  */

$folder-fonts: '../fonts/' !default;
$folder-images: '../images/' !default;
$folder-svg: '../svg/' !default;
$icomoon-font-path: $folder-fonts !default;
$folder-node-modules: '../../node_modules/' !default;

/* ==========================================================================
    #TYPOGRAPHY
==========================================================================  */

/* font-family */
$roboto: 'Roboto Slab', serif !default;
$heebo: 'Heebo', sans-serif !default;

/* Text selection */
$text-selection-color: $colors-black !default;
$text-selection-bg: #b3d4fc !default;

/* ==========================================================================
    #MEDIA-QUERIES
==========================================================================  */

$breakpoints: (
'sm': $screens-sm,
'md': $screens-md,
'lg': $screens-lg,
'xl': $screens-xl,
) !default;

/* ==========================================================================
    #TRANISTION
==========================================================================  */

$transition-speed-slow: 0.6s !default;
$transition-speed-medium: 0.3s !default;
$transition-speed-fast: 0.1s !default;

$easing: cubic-bezier(0.4, 0, 0.2, 1);

/* ==========================================================================
    #VARIABLES MODAL
========================================================================== */

$modal-selector: '.c-modal';
$modal-zindex: 1000 !default;
$modal-max-width: 1100px !default;
$modal-max-height: calc(100vh - 20px) !default;
$modal-overlay-bg-color: #000 !default;
$modal-overlay-opacity: 0.8 !default;
$modal-content-bg-color: transparent !default;
$modal-content-padding: 30px 0 0 0 !default;
$modal-transition: opacity 0.375s cubic-bezier(0.4, 0, 0.2, 1);


