
/* ==========================================================================
    #variables
========================================================================== */
@import 'tailwind-theme-variables';
@import 'variables-custom';

/* ==========================================================================
    #vendors
========================================================================== */
@import '~include-media/dist/_include-media';
@import '~include-media-export';
// @import '~aos/src/sass/aos';
// @import '~hamburgers/_sass/hamburgers/hamburgers';

/* ==========================================================================
    #functions
========================================================================== */
@import 'abstracts/functions';

/* ==========================================================================
    #mixins
========================================================================== */
@import 'abstracts/mixins/center';
@import 'abstracts/mixins/input-placeholder';
@import 'abstracts/mixins/last-row';
@import 'abstracts/mixins/responsive';
@import 'abstracts/mixins/text-truncate';

/* ==========================================================================
    #placeholder
========================================================================== */
@import 'abstracts/placeholder/container';
@import 'abstracts/placeholder/form';

/* ==========================================================================
    #base
========================================================================== */
@tailwind base;
@import 'base/reset-custom';
@import 'base/global';
@import 'base/fonts';
@import 'base/icons';
@import 'base/animations';
@import 'base/transitions';
@import 'base/dev';

// Tailwind custom
@import 'tailwind-custom/padding';

/* ==========================================================================
    #objects
========================================================================== */
@import 'objets/intrinsic';
@import 'objets/button';
@import 'objets/container';
@import 'objets/heading';
@import 'objets/link';
@import 'objets/list';
@import 'objets/release';
@import 'objets/table';
@import 'objets/text';
@import 'objets/wysiwyg';

@import 'objets/form/input-label';
@import 'objets/form/input-text';
@import 'objets/form/textarea';
@import 'objets/form/select';
@import 'objets/form/radio';
@import 'objets/form/checkbox';
@import 'objets/form/toggle';
@import 'objets/form/input-note';
@import 'objets/form/from-control';


/* ==========================================================================
    #components
========================================================================== */
//@tailwind components;
//@import 'components/modal';

/* ==========================================================================
    #pages
========================================================================== */
// @import 'pages/home';
// @import 'pages/404';


.sg-block-color {
    padding-top: 100%;
    border: 2px solid white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
