/* 0.npm-node-modules ( Vendors )*/
/*/////////////////////////////////////////*/
@import '~normalize-scss/sass/_normalize';
@import '~include-media/dist/_include-media';
@import '~aos/src/sass/aos';
@import '~hamburgers/_sass/hamburgers/hamburgers';

/* 2.tools - functions*/
/*/////////////////////////////////////////*/
@import '2.tools/functions/map';
@import '2.tools/functions/list';

/* 1.settings*/
/*/////////////////////////////////////////*/
@import '1.settings/variables';
@import '1.settings/components';

/* 2.tools - mixins*/
/*/////////////////////////////////////////*/
@import '2.tools/mixins/grid';
@import '2.tools/mixins/center';
@import '2.tools/mixins/center-block';
@import '2.tools/mixins/clearfix';
@import '2.tools/mixins/grid-last-row';
@import '2.tools/mixins/input-placeholder';
@import '2.tools/mixins/padding';
@import '2.tools/mixins/ratio';
@import '2.tools/mixins/text-truncate';
@import '2.tools/mixins/triangle';
@import '2.tools/mixins/ios-scroll-smooth';

/* Animation*/
@import '2.tools/mixins/animation';
@import '2.tools/mixins/transition';

/* 3.base*/
/*/////////////////////////////////////////*/
@include normalize(); /* normalize-scss*/
@import '3.base/reset';
@import '3.base/fonts';
@import '3.base/typography';
@import '3.base/global';
@import '3.base/icons';

/* 4.elements*/
/*/////////////////////////////////////////*/
@import '4.elements/list';
@import '4.elements/btn';

/* 5.components*/
/*/////////////////////////////////////////*/
@import '5.components/wysiwyg';
@import '5.components/modal';

/* 6.objets*/
/*/////////////////////////////////////////*/
@import '6.objets/container';
@import '6.objets/grid';

/* 7.layout*/
/*/////////////////////////////////////////*/
@import '7.layout/wrapper';
@import '7.layout/header';
@import '7.layout/nav';
@import '7.layout/main';
@import '7.layout/footer';

/* 8.pages*/
/*/////////////////////////////////////////*/
@import '8.pages/404';

/* 9.utils*/
/*/////////////////////////////////////////*/
@import '9.utils/dev';

/* 10.misc*/
/*/////////////////////////////////////////*/
@import '10.misc/include-media-export';

/* Shame*/
/*/////////////////////////////////////////*/
@import 'shame';

@import 'vuejs';

.modal {
    width: 400px;
    height: 400px;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: green;
}

.btn {
    margin: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #000;
}



.paa {
    font-size: 100px;
    content: 'paa';
}
