
/*
Abstracts

Abstracts (or utilities): holds Sass tools, helper files, variables, functions, mixins and other config files.
These files are meant to be just helpers which don’t output any CSS when compiled.

Weight: 1

Styleguide abstracts
*/

// variables
@import 'tailwind-theme-variables';
@import 'variables-custom';

// functions
@import 'abstracts/functions';

// mixins
@import 'abstracts/mixins/bp-helper';
@import 'abstracts/mixins/center';
@import 'abstracts/mixins/clearfix';
@import 'abstracts/mixins/focuspoint';
@import 'abstracts/mixins/grid-helper';
@import 'abstracts/mixins/input-placeholder';
@import 'abstracts/mixins/intrinsic';
@import 'abstracts/mixins/last-row';
@import 'abstracts/mixins/letter-spacing';
@import 'abstracts/mixins/padding';
@import 'abstracts/mixins/responsive';
@import 'abstracts/mixins/text-truncate';



// Plugins
@import '~include-media/dist/_include-media';
@import '~include-media-export';

// Plugins (Optional)
// @import '~aos/src/sass/aos';
// @import '~hamburgers/_sass/hamburgers/hamburgers';

/*
Base

Base: holds the boilerplate code for the project. Including standard styles such as resets and 
typographic rules, which are commonly used throughout your project.

Weight: 2

Styleguide Base

*/

@tailwind base;
@import 'base/reset-custom';
@import 'base/global';
@import 'base/fonts';
@import 'base/typography/heading';
@import 'base/typography/text';
@import 'base/typography/wysiwyg';
@import 'base/icons';
@import 'base/animations';
@import 'base/transitions';

/*
Elements

Explicitly named designed pieces of UI. The cosmetic layer, includes more specific styling instructions.

Weight: 3

Styleguide Elements

*/
// @import 'elements/btn';

/*
Components

Components (or modules): holds all of your styles for buttons, carousels, sliders, and similar page components (think widgets).
Your project will typically contain a lot of component files — as the whole site/app should be mostly composed of small modules.

Weight: 4

Styleguide Components

*/
//@import 'components/modal';

@tailwind components;

body {
    @apply -mx-5px;
}

/*
Layout

Layout: contains all styles involved with the layout of your project. Such as styles for your header, footer, navigation and the grid system.

Weight: 6

Styleguide: layout
*/
// @import 'layout/header';
// @import 'layout/footer';

/*
Pages

Pages: any styles specific to individual pages will sit here. 
For example it’s not uncommon for the home page of your site to require page specific styles that no other page receives.

Weight: 7

Styleguide: pages
*/
// @import 'pages/home';
// @import 'pages/404';

@tailwind utilities;

body.is-dev {
    @include bp-helper();
}

@include grid-helper();
