{% extends "layout/base.twig" %} 

{% block content %}

    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iste reiciendis, at maxime dolorum perspiciatis consequatur sequi quasi? Temporibus provident perferendis recusandae et delectus consequatur natus soluta consectetur explicabo iusto?</p>

    <p><a href="#top" data-modal="#welcome">Modal position</a></p>
    <p><a href="#center" data-modal="#bye">Modal poistion center</a></p>

    {% include "partial/modal.twig" with { 'id' : 'top', 'position' : 'top' } %}  
    {% include "partial/modal.twig" with { 'id' : 'center', 'position' : 'center'} %} 

{% endblock %} 

{% block js %}
<script>
    (function ($) {
        
        console.log('demo-modal');
        $('[data-modal]').modal();

    }(jQuery));
</script>
{% endblock %}
