{% extends "layout/base.twig" %} {% block content %}

<div class="o-container-large">
  <section class="sg-component">

    <h2>Title lorem consectetur adipisicing elit</h2>

    <div class="desc">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sit fugit omnis optio, obcaecati nobis, suscipit provident
        ipsa autem necessitatibus cum quidem tempore praesentium ab facere officia beatae consequuntur distinctio!</p>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
      </ol>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sit fugit omnis optio, obcaecati nobis, suscipit provident
        ipsa autem necessitatibus cum quidem tempore praesentium ab facere officia beatae consequuntur distinctio!</p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
      </ul>

    </div>

</section>

{% endblock %}