$o-input-textarea: '.o-input-textarea';

#{$o-input-textarea} {
    @extend %input-text;
    @extend %input-placeholder;
    border: 1px solid $colors-black;
    resize: none;

    &--is-disabled,
    &:disabled {
        @extend %input-disabled;
    }

    &--is-focus,
    &:focus {
        @extend %input-focus;
    }

}

