{% extends "../_layouts/prototype.twig" %} 

{% block page %}

<section class="sg-container-section ">

    <div style="background:#ccc; height : 500px;"></div>

    <a href="#" id="toggle" class="btn" style="display:inline-block;">Toggle</a>

    <div class="lost-container-center-12 lost-row-padding">
        <div class="lost-row">

            <div class="lost-column-5">

                <div class="image-swap" id="swap">
                    <img class="image-swap-1" data-aos="example-anim1" data-aos-anchor="#swap" data-aos-offset="0" data-aos-anchor-placement="center-center"
                        src="/dist/images/2009-301-0813a@2x.jpg" alt="" />
                    <img class="image-swap-2" data-aos="example-anim2" data-aos-anchor="#swap" data-aos-offset="0" data-aos-anchor-placement="center-center"
                        src="/dist/images/76-08985c@2x.jpg" alt="" />
                </div>

            </div>

            <div class="lost-column-1"></div>

            <div class="lost-column-1">
                <p>Localisation</p>
            </div>

            <div class="lost-column-5">

                <h2 class="sg-h2">Le débit d’eau réservé pour les centrales</h2>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat.Duis autem vel eum iriure dolor in hendrerit
                    in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros
                    et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
                    feugait nulla.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                    tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo </p>

            </div>

        </div>
    </div>

    <div class="lost-container-center-12 lost-row-padding">
        <div class="lost-row">

            <div class="lost-column-1">
                <p>Localisation</p>
            </div>

            <div class="lost-column-5">

                <h2 class="sg-h2">Le débit d’eau réservé pour les centrales</h2>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat.Duis autem vel eum iriure dolor in hendrerit
                    in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros
                    et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
                    feugait nulla.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                    tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo </p>

            </div>

            <div class="lost-column-1"></div>

            <div class="lost-column-5">

                <div class="image-swap" id="swap2">
                    <img class="image-swap-1" data-aos="example-anim1" data-aos-anchor="#swap2" data-aos-offset="0" data-aos-anchor-placement="center-center"
                        src="/dist/images/2009-301-0813a@2x.jpg" alt="" />
                    <img class="image-swap-2" data-aos="example-anim2" data-aos-anchor="#swap2" data-aos-offset="0" data-aos-anchor-placement="center-center"
                        src="/dist/images/76-08985c@2x.jpg" alt="" />
                </div>

            </div>


        </div>
    </div>

    <div style="background:#ccc; height : 500px;"></div>

</section>

{% endblock %}