{# index.twig #}
{% extends "layout/base.twig" %}

{% block page %}

  <button @click="showNavMobile = true" style="margin-left:400px;">Show</button>

  <nav-mobile :show="showNavMobile" @nav-mobile-close="closeNavMobile">
    <h3 slot="header">custom header</h3>
    <div slot="nav">
      custom nav
      <ul>
        <li><a href="#">dasldlasds</a></li>
      </ul>
    </div>
  </nav-mobile>

{% endblock %}