/* ==========================================================================
    #ANIMATION
========================================================================== */

/* fadeIn*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: fadeIn;
}

/* fadeOut*/

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: fadeOut;
}

/* spinLoader*/

@keyframes spinLoader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin-loader {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: spinLoader;
}
