// For AOS "Animate on Scroll" see "10.vendors/aos/aos"

.bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0);

  }
  40% {
    transform: translate(-50%, -30px);

  }
  60% {
    transform: translate(-50%, -15px);

  }

}

@keyframes pulse {

  0% {
    transform: translate(-50%, 0);

  }
  50% {
    transform: translate(-50%, 10px);

  }
  100% {
    transform: translate(-50%, 0);

  }

}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

}

@keyframes fadeIn {

  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }

}

@keyframes fadeOut {

  0% {
    opacity: 1;

  }

  100% {
    opacity: 0;

  }

}

@keyframes moveDown {

  0% {
    transform: translateY(-100px);

  }

  100% {
    transform: translateY(0);

  }

}

@keyframes moveUp {

  0% {
    transform: translateY(0);

  }

  100% {
    transform: translateY(-100px);

  }

}
