@mixin block-bg-large {
  background-color:#e8e9e9;
  
  @include media('>=tablet') {
    padding-top:120px;
    padding-bottom:120px;
  }
  
  @include media('<tablet') {}
  
}

@mixin block-bg-medium {
  background-color:#e8e9e9;
  
  @include media('>=tablet') {
    padding-top:80px;
    padding-bottom:80px;
    
  }
  
  @include media('<tablet') {
    padding-top:40px;
    padding-bottom:40px;
  }
  
}