/* ==========================================================================
    #CLEARFIX
========================================================================== */

/* Ref : http://www.cssmojo.com/the-very-latest-clearfix-reloaded/*/

@mixin clearfix() {
    &:after {
        clear: both !important;
        content: '' !important;
        display: block !important;
    }
}
