
/* ==========================================================================
    #RATIO
========================================================================== */

@mixin ratio($x, $y) {
    $padding: unquote(( $y / $x) * 100 + '%');
    position: relative;

    &:before {

        padding-top: $padding;
        content: '';
        display: block;

        width: 100%;
    }

    > .content {
        bottom: 0;
        left: 0;
        overflow-y: hidden;
        position: absolute;
        right: 0;
        top: 0;
    }

}

/* ==========================================================================
    #IFRAME-RATIO
========================================================================== */

@mixin iframe-ratio($x, $y) {
    $padding: unquote(( $y / $x) * 100 + '%');

    padding-top: $padding;
    height: 0;
    overflow: hidden;
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;

        width: 100%;
    }

}

