/* ==========================================================================
    #TEXT-TRUNCATE
========================================================================== */

@mixin truncate($truncation-boundary) {

    overflow: hidden;
    text-overflow: ellipsis;

    white-space: nowrap;

    width: $truncation-boundary;
}


