@mixin text($align : 'left') {
    color:currentColor;

    font-weight: 400;
    line-height: 1.8;

    @if $align == 'center' {
        text-align: center;
    }

    @include media('<tablet') {
        font-size: 13px;
    }

    @include media('>=tablet') {
        font-size: 14px;
    }

}

@mixin title($align : 'left') {
    color:$color-mongoose;
    font-family: $font-heading;
    font-weight: 400;
    line-height: 1.3;
    
    text-transform: uppercase;

    @if $align == 'center' {
        text-align: center;
    }

    @include media('<tablet') {
        font-size: 18px;
        letter-spacing:4px;
    }

    @include media('>=tablet') {
        font-size: 26px;
        letter-spacing:8px;
    }

}

@mixin subtitle($align : 'left') {
    color:currentColor;
    font-family: $font-heading;
    font-size: 18px;
    line-height:1.4;
    font-style: italic;

    @if $align == 'center' {
        text-align: center;
    }

    @include media('<tablet') {
        font-size: 16px;
    }

    @include media('>=tablet') {
        font-size: 18px;
    }

}

@mixin subtitleSmall($align : 'left') {
    color:$color-mongoose;
    font-family: $font-heading;
    font-size: 13px;
    letter-spacing:4px;
    text-transform: uppercase;

    @if $align == 'center' {
        text-align: center;
    }

}

@mixin subtitle02($align : 'left') {
    color:$color-mongoose;
    font-family: $font-heading;
    font-weight: 400;
    line-height: 1.3;
    
    text-transform: uppercase;

    @if $align == 'center' {
        text-align: center;
    }

    @include media('<tablet') {
        font-size: 16px;
        letter-spacing:4px;
    }

    @include media('>=tablet') {
        font-size: 20px;
        letter-spacing:6px;
    }

}