{% extends "../_layouts/base.twig" %}

{% block page %}

<section class="sg-section">

  <!-- Section Related article -->
  <div class="sg-container-section">
    <h2 class="sg-h2">Related article</h2>
  </div>

  <div class="sg-preview sg-preview--full">
    {% include "../_partials/_entry.twig" %}
  </div>

</section>

{% endblock %}