{% extends "../_layouts/base.twig" %}

{% block page %}

<!-- Section Service article -->
<section class="sg-container-section">

    <h2 class="sg-h2">Service article</h2>

    <div class="sg-preview" style="background-color:#918860;">
        {% include "../_partials/_service.twig" %}
    </div>

    <h3 class="sg-h3">Grid</h3>

</section>

<div class="sg-preview" style="background-color:#918860;">

    <ul class="o-grid-service">

        {% for i in 1..5 %}
        <li>
            <div class="o-grid-service__column-image">
                <a href="https://placeholder.com">
                    <img src="http://via.placeholder.com/600x620">
                </a>
            </div>

            <div class="o-grid-service__column-text">
                {% include "../_partials/_service.twig" %}
            </div>
        </li>
        {% endfor %}

    </ul>

</div>

{% endblock %}