<header id="l-header" class="l-header">

  <div class="l-header__container o-container-big">
    <h1 class="l-header__logo">
      <span class="visuallyhidden">Mutation</span>
      <a href="/">
        <img src="/themes/mutation/images/logo-mutation.svg" alt="Mutation">
      </a>
    </h1>

    <nav class="l-header__nav anim-nav-expand-line" role="navigation">

      <ul>
        <li class="is-current"><a href="#">About Us</a></li>
        <li><a href="#">Our work</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Articles</a></li>
        <li class="lang"><a href="#">fr</a></li>
      </ul>

    </nav>

  </div>

</header>