<div class="c-page-headline c-page-headline--{{ style }} c-page-headline--{{ type }} {% if btnBottom == "true" %}c-page-headline--arrow-bottom {% endif %}">

    <div class="c-page-headline__container">
        <div class="c-page-headline__tag">our work</div>
        <h1 class="c-page-headline__title">mutation digitale</h1>
    </div>

</div>