/* ==========================================================================
    #DEBUG BREAKPOINT
========================================================================== */

body#{$is-dev} {
    &:before {

        padding: 10px;

        background: #ccc;
        bottom: 0;

        display: block;

        position: fixed;
        right: 0;

        text-transform: capitalize;
        z-index: $z-site-option;

        @each $name, $value in $breakpoints {

            @include media('>=#{$name}') {
                content: '#{$name}';
            }

        }

    }

}

/* ==========================================================================
    #DEBUG GRID
========================================================================== */
.show-grid {
    &__button {

        padding: 4px 8px;
        background-color: #ccc;
        bottom: 60px;
        position: fixed;
        right: 0;
        z-index: $z-site-option;
    }

    &__visual {
        height: 100vh;
        left: 50%;
        opacity: 0.5;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        z-index: $z-site-option - 1;
    }

    &__container {
        height: 100%;
    }

    &__row,
    &__column {
        height: 100%;
    }

    &__column {
        background: green;
    }

}

/* ==========================================================================
    #VUE TRANSITION
========================================================================== */

.show-grid-enter-active,
.show-grid-leave-active {
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.show-grid-enter,
.show-grid-leave-to {
    opacity: 0;
}

.show-grid-enter-to,
.show-grid-leave {
    opacity: 0.5;
}

