/* ==========================================================================
    #DEBUG BREAKPOINT
========================================================================== */

@if ($env == 'dev') {

  body {
   
    &:before {
      padding: 10px;

      display: block;

      position: fixed;
      right: 0;
      bottom: 0;

      text-transform: capitalize;

      background: #ccc;

      @each $name, $value in $desktop-first-breakpoints {

        @include media('>=#{$name}') {
          content: '#{$name}';
        }

      }

    }

  }

}




