/* ==========================================================================
    #DEBUG BREAKPOINT
========================================================================== */

body#{$is-dev} {
  
  &:before {
    padding: 10px;

    display: block;

    position: fixed;
    right: 0;
    bottom: 0;
    z-index: $z-site-option;

    text-transform: capitalize;

    background: #ccc;

    @each $name, $value in $desktop-first-breakpoints {

      @include media('>=#{$name}') {
        content: '#{$name}';
      }

    }

  }

}


