.show-grid {

  &__button {
    position: fixed;
    bottom: 60px;
    right: 0;
    z-index: $z-site-option;
    background-color: #ccc;
    padding: 4px 8px;
  }

  &__visual {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100vh;
    z-index: $z-site-option - 1;
    opacity: 0.5;
  }

  &__container {
    height: 100%;
  }

  &__row,
  .sg-col-style {
    height: 100%;
  }

  .sg-col-style {
    background: green;
  }

}

/* ==========================================================================
    #VUE TRANSITION
========================================================================== */

.show-grid-enter-active,
.show-grid-leave-active {
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.show-grid-enter,
.show-grid-leave-to {
  opacity: 0;
}

.show-grid-enter-to,
.show-grid-leave {
  opacity: 0.5;
}