
/* ==========================================================================
    #HTML-BODY
========================================================================== */
body,
html {
  min-width: 320px;
  height: 100%;

}

/* ==========================================================================
    #HTML
========================================================================== */

html {
  overflow-y: scroll;

  &.is-fixed {
    position: fixed;

    overflow: hidden;

  }

}

/* ==========================================================================
    #BODY
========================================================================== */

body {
  font-family: $sg-font-text;
  font-size: 10px;
  line-height: $sg-font-text-line-height;
  word-wrap: break-word;
  word-break: normal;

  color: $sg-color-black;
  background-color: $sg-color-white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}













