@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700');

// 0.npm-node-modules ( Vendors )
//------------------------------------------------------------
@import '~normalize-scss/sass/_normalize';
@import '~include-media/dist/_include-media';
@import 'variables';
@import 'mixins';
@include normalize();
@import 'base';

$h1 : 40px;
$h2 : 32px;
$h3 : 28px;
$h4 : 26px;

$t1 : 20px;
$t2 : 18px;
$t3 : 16px;
$t4 : 14px;


// Heading
//------------------------------------------------------------
.sg-h1,
.sg-h2,
.sg-h3,
.sg-h4,
.sg-h5,
.sg-h6 {
margin-bottom: 18px;

position: relative;

font-family: $sg-Roboto;
font-weight: 700;

.sg-anchor  {
position: absolute;
top: 0;
left: -26px;
font-family: $sg-code;
opacity: 0.5;
}

}

.sg-h1 {
font-size: $h1;
}

.sg-h2 {
font-size: $h2;
color: $sg-color-brand;
}

.sg-h3 {
margin-top: 80px;
margin-bottom: 18px;
font-size: $h3;
}

.sg-h4 {
margin-top: 50px;
margin-bottom: 18px;
font-size: $h4;
}

// Text
//------------------------------------------------------------
.sg-text {
margin-top: 18px;
margin-bottom: 18px;

font-family: $sg-Roboto;
font-size: $t3;

a {
font-weight: 700;
text-decoration: underline;
color: $sg-color-brand;
}


}

.sg-anchor {
font-style: italic;
}

// Table
//------------------------------------------------------------
.sg-table {
width: 100%;
max-width: 1000px;
margin-top: 18px;
margin-bottom: 18px;

font-size: $t1;;

th,
td {
padding: 10px 14px;

text-align: left;
vertical-align: top;

border: 1px solid $sg-color-border;
}

th {
font-weight: 700;
}

td {
font-size: $t2;

color: $sg-color-gray;

* + * {
    margin-top: 10px;
}

}

.icon {
font-size: 20px;
color: #000;
}


}

// Preview
//------------------------------------------------------------
.sg-preview {
margin-top: 62px;
padding: 20px;

position: relative;

font-size: 14px;

border: 1px solid $sg-color-border;

&:before {
padding: 4px 12px;

display: block;

position: absolute;
top: -36px;
right: 0;

content: 'Preview';

color: $sg-color-white;
background-color: $sg-color-brand;
}

&--full {
padding-right: 0;
padding-left: 0;
border:0;
}

}

// Code-html
//------------------------------------------------------------
.sg-code-html {
padding: 20px 28px;

position: relative;

font-family: $sg-code;
font-size: 14px;

color: $sg-color-brand;
border: 1px solid $sg-color-border;

&:before {
padding: 4px 12px;

display: block;

position: absolute;
top: 0;
right: 0;

content: 'HTML';

color: $sg-color-white;
background-color: $sg-color-brand;
}

}

.sg-preview + .sg-code-html {
margin-top: -1px;
}

// Code
//------------------------------------------------------------
.sg-code {
padding: 4px 10px;

font-family: $sg-code;

color: $sg-color-brand;
background-color: $sg-color-code;

&.block {
display: block;
}

}



// container-demo
//------------------------------------------------------------
.sg-container-demo {
padding-top: 40px;
padding-bottom: 40px;
background-color: #ccc;
margin-bottom: 40px;
}

// sg-grid-demo
//------------------------------------------------------------
.sg-grid-demo {

.sg-col-style {
height: 100px;
line-height: 100px;
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
background: #3599c3;
color: #fff;
}

}

// color
//------------------------------------------------------------
.sg-color {
height: 50px;
padding: 4px 10px;
display: block;
border: 3px solid $sg-color-border;
}

// vue-nav-mobile
//------------------------------------------------------------
.vue-nav-mobile__title {
padding: 30px 20px 0 20px;
display: block;
font-size: headingSize('h2');
color: $sg-color-brand;
}

.vue-nav-mobile__section-title {
margin: 30px 0 10px;
padding: 0 24px;
font-size: 20px;
font-weight: 700;
color: #303637;
}

.vue-nav-mobile__section-list {

a {
padding: 6px 24px;
display: block;
position: relative;
font-size: 16px;
font-weight: 400;
text-decoration: none;
border-bottom: 1px solid $sg-color-border;
}

li:first-child {

a {
        border-top: 1px solid $sg-color-border;
}

}

}

.vue-nav-mobile .nav {
max-height: calc(100vh - 60px);
overflow-y: auto;
}

#nav-mobile {
padding: 4px 8px;
position: fixed;
z-index: 1;
top: 20px;
right: 20px;
font-size: 18px;
background-color: #fff;


}


.sg-btn {
display: inline-block;
padding: 8px 16px;
color: $sg-color-white;
background-color: $sg-color-brand;
border-radius: 10px;

&:hover {
background-color: $sg-color-code;
color: $sg-color-brand;
}

}


.lost-row-padding {
    margin: 350px 0;
}

.image-swap {
    position: relative;
    height: 100%;
    //background: red;

    &.reverse {

        .position-2 {
            z-index: 1;
            transform: translate3d(0,0,0);
        }
    
        .position-1 {
            transform: translate3d(100px,100px,0);
            z-index: 2;
        }

    }

    &-1,
    &-2 {
        position: absolute;
        top: 0;
        left: 0;
        //transition: all 0.3s ease;
    }

    /*
    .position-1 {
        z-index: 1;
    }

    .position-2 {
        transform: translate3d(10%,10%,0);
        z-index: 2;
    }
*/

}



[data-aos="example-anim1"] {
    transition-property: transform, opacity;
    z-index: 1;

    &.aos-animate {
        transform: translate3d(10%,10%,0);
        z-index: 2;
    }

}

[data-aos="example-anim2"] {
    transition-property: transform, opacity;
    z-index: 2;
    transform: translate3d(10%,10%,0);
    
    &.aos-animate {
        transform: translate3d(0,0,0);
        z-index: 1;
    }

}


