{% extends "../sg-views/layouts/base.twig" %} 
{% block page %}
<section class="sg-container-section">

  <h3 class="sg-h2">Menu mobile (Vuejs)</h3>
  <code class="sg-code">_menu-mobile.scss & MenuMobile.vue</code>

</section>
  
{% endblock %}
