{% extends "_layouts/base.twig" %}

{% set dataStyles = [
  {
    type : "Black (Default)",
    class : "black",
  },
  {
    type : "Yellow",
    class : "yellow",
  },
  {
    type : "Green",
    class : "green",
  },
  {
    type : "Gray",
    class : "gray",
  },
  {
    type : "Background pattern black",
    class : "bg-black",
  },
  {
    type : "Background pattern white",
    class : "bg-white",
  },
  {
    type : "Services",
    class : "services",
  },
  {
    type : "Service single",
    class : "service-single",
  },
] %}

{% block page %}

<!-- Page Headline Section -->
<section class="sg-container-section">

  <h2 class="sg-h2" id="#Components">Grid</h2>

  <div class="o-container-big t2">

    <div class="o-row">
      <div class="t o-column-6">6</div>
      <div class="t o-column-6">6</div>
    </div>
  </div>

  <br />

  <div class="o-container-big t2">

    <div class="o-row">
      <div class="t o-column-3">3</div>
      <div class="t o-column-6">6</div>
      <div class="t o-column-3">3</div>
    </div>
  </div>

  <br />

  <div class="o-container-big t2">

    <div class="o-row">
      <div class="t o-column-6">6</div>
      <div class="t o-column-2">2</div>
      <div class="t o-column-1">1</div>
      <div class="t o-column-3">3</div>
    </div>

  </div>

</section>

{% endblock %}