{% extends "../sg-views/layouts/base.twig" %} 

{% block page %}





<section class="sg-container-section">

  <h2 class="sg-h2">Grid</h2>

  <div class=" sg-grid-demo">

    <div class="grid-12">

      <div class="o-row-tablet">
        {% for i in 1..2 %}
        <div class="sg-col-style o-col-tablet-6">6</div>
        {% endfor %}
      </div>

    </div>

    <div class="grid-12">

      <div class="o-row-tablet">
        {% for i in 1..3 %}
        <div class="sg-col-style o-col-tablet-4">4</div>
        {% endfor %}
      </div>

    </div>

    <div class="o-row-tablet">
      {% for i in 1..12 %}
      <div class="sg-col-style o-col-tablet-1">1</div>
      {% endfor %}
    </div>

    <div class="o-row-tablet">
      {% for i in 1..6 %}
      <div class="sg-col-style o-col-tablet-2">2</div>
      {% endfor %}
    </div>

    <div class="o-row-tablet">
      {% for i in 1..4 %}
      <div class="sg-col-style o-col-tablet-3 o-col-tablet-6">3</div>
      {% endfor %}
    </div>

    <div class="o-row-tablet">
      {% for i in 1..3 %}
      <div class="sg-col-style o-col-tablet-4">4</div>
      {% endfor %}
    </div>

    <div class="o-row-tablet">
      {% for i in 1..2 %}
      <div class="sg-col-style o-col-tablet-6">6</div>
      {% endfor %}
    </div>

    <div class="o-row-tablet">
      {% for i in 1..1 %}
      <div class="sg-col-style o-col-tablet-12">12</div>
      {% endfor %}
    </div>

  </div>

  <br />

  <div class="o-container-big sg-grid-demo">

    <div class="o-row-tablet">
      <div class="sg-col-style o-col-tablet-3">3</div>
      <div class="sg-col-style o-col-tablet-6">6</div>
      <div class="sg-col-style o-col-tablet-3">3</div>
    </div>
  </div>

  <br />

  <div class="o-container-big sg-grid-demo">

    <div class="o-row-tablet">
      <div class="sg-col-style o-col-tablet-6">6</div>
      <div class="sg-col-style o-col-tablet-2">2</div>
      <div class="sg-col-style o-col-tablet-1">1</div>
      <div class="sg-col-style o-col-tablet-3">3</div>
    </div>

  </div>

</section>

{% endblock %}