{% extends "../sg-views/layouts/base.twig" %} 

{% set icons = ["circle", "plus", "sales", "location", "montreal", "moscow", "pagi-arrow-next", "pagi-arrow-prev", "parts", "plane", "repair", "share", "social", "supplier-portal",
"twitter", "warranty", "youtube", "arrow-down", "arrow-dropdown", "arrow-left", "arrow-play", "arrow-right", "arrow-up",
"bangkok", "berlin", "card-portal", "check", "diagnostic", "exchanges", "facebook", "green", "like", "linkedin", "dropdown-arrow"] %}

{% block page %}

  <!-- section Icons -->
  <section class="sg-container-section">

    <h2 class="sg-h2" id="custom">Base</h2>
    <h3 class="sg-h3">Icons</h3>

    <table class="sg-table">

      <thead>
        <tr>
          <th>Name</th>
          <th>CSS Class</th>
          <th>Render</th>
        </tr>
      </thead>

      <tbody>

        {% for icon in icons %}
        <tr>
          <td>{{ icon }}</td>
          <td>icon-{{ icon }}</td>
          <td>
            <svg class="icon icon-{{ icon }} svg">
              <use xlink:href="/dist/svg/symbol-defs.svg#icon-{{ icon }}"></use>
            </svg>
          </td>
        </tr>
        {% endfor %}

      </tbody>

    </table>

  </section>

{% endblock %}

