{% extends "../sg-views/layouts/base.twig" %} 
{% block page %}

<section class="sg-container-section">

  <h3 class="sg-h2">Mixins</h3>

  <h3 class="sg-h3">Center </h3>
  <code class="sg-code">_center-block.scss</code>
  <div class="sg-preview">

    <div class="sg-mixins-center-demo">
      <div class="sg-code">center</div>
    </div>

  </div>

  <h3 class="sg-h3">Placeholder</h3>
  <code class="sg-code">_placeholder.scss</code>
  <div class="sg-preview">

    <div class="sg-mixins-placeholder-demo">
      <input type="text" placeholder="Placeholder input..." />
      <br />
      <textarea placeholder="Placeholder textarea..."></textarea>
      <br />
      <div class="placeholder">Placeholder custom... (require some JS)</div>
    </div>

    <br />
    <br />

    <div class="sg-mixins-placeholder-demo2">
      <input type="text" placeholder="Placeholder input..." />
      <br />
      <textarea placeholder="Placeholder textarea..."></textarea>
      <br />
      <div class="placeholder">Placeholder custom... (require some JS)</div>
    </div>

  </div>

  <h3 class="sg-h3">Padding </h3>
  <code class="sg-code">_padding.scss</code>
  <div class="sg-preview">

    <div class="sg-mixins-padding-desktop-demo">
      <div class="sg-code">padding-desktop</div>
    </div>

    <br />

    <div class="sg-mixins-padding-tablet-demo">
      <div class="sg-code">padding-tablet</div>
    </div>

    <br />

    <div class="sg-mixins-padding-mobile-demo">
      <div class="sg-code">padding-mobile</div>
    </div>

    <br />

    <div class="sg-mixins-padding-container-demo">
      <div class="sg-code">padding-container ( tablet & mobile )</div>
    </div>

  </div>

  <h3 class="sg-h3">Ratio </h3>
  <code class="sg-code">_ratio.scss</code>
  <div class="sg-preview" style="max-width:300px;">

    <h3 class="sg-h4">Base</h3>

    <div class="sg-mixins-ratio-demo-16-9">
      <div class="content">Ratio 16:9</div>
    </div>

    <div class="sg-mixins-ratio-demo-4-3">
      <div class="content">
        Ratio 4:3
      </div>
    </div>

    <div class="sg-mixins-ratio-demo-1-1">
      <div class="content">Ratio 1:1</div>
    </div>

    <h3 class="sg-h4">Image</h3>

    <div class="sg-mixins-ratio-demo-16-9">
      <div class="content">
        <img src="https://placeimg.com/1640/1480/tech" />
      </div>
    </div>

    <div class="sg-mixins-ratio-demo-4-3">
      <div class="content">
        <img src="https://placeimg.com/1640/1480/tech" />

      </div>
    </div>

    <div class="sg-mixins-ratio-demo-1-1">
      <div class="content">
        <img src="https://placeimg.com/1640/2480/tech" />
      </div>
    </div>

  </div>

  <h3 class="sg-h3">iframe responsive </h3>
  <code class="sg-code">_ratio.scss</code>
  <div class="sg-preview" style="max-width:300px;">

      <h3 class="sg-h4">16:9</h3>

      <div class="sg-mixins-iframe-ratio-demo1">
          <iframe width="1560" height="1315" src="https://www.youtube.com/embed/JxUP9p2x1Cw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

      <h3 class="sg-h4">4:3</h3>

      <div class="sg-mixins-iframe-ratio-demo2">
          <iframe width="1560" height="1315" src="https://www.youtube.com/embed/JxUP9p2x1Cw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>


      <h3 class="sg-h4">1:1</h3>

      <div class="sg-mixins-iframe-ratio-demo3">
          <iframe width="1560" height="1560" src="https://www.youtube.com/embed/JxUP9p2x1Cw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

  </div>

  <h3 class="sg-h3"> text-truncate </h3>
  <code class="sg-code">_text-truncate.scss</code>
  <div class="sg-preview">

    <h3 class="sg-h4">Max width 50px</h3>

    <div class="sg-mixins-text-truncate-demo1">Lorem test text-truncate</div>

    <br />

    <h3 class="sg-h4">Max width 200px</h3>

    <div class="sg-mixins-text-truncate-demo2">Lorem test text-truncate</div>

  </div>

</section>


  
{% endblock %}
