{% extends "../sg-views/layouts/base.twig" %} 

{% block page %}

<a href="#" @click="showModal('test')" class="btn">welcome Modal</a>
<br>
<modal name="test">
  <div slot="close">Fermer</div>
  <div slot="body">

    <p>
      <strong>John Smith</strong>
      <small>@johnsmith</small>
      <small>31m</small>
      <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam
      condimentum luctus turpis.
    </p>

  </div>
</modal>

<a href="#" @click="showModal('test2')" class="btn">welcome Modal</a>
<br>
<modal name="test2">
  <div slot="close">Fermer</div>
  <div slot="body">
      <div class="sg-mixins-iframe-ratio-demo1">
          <iframe width="1560" height="1560" src="https://www.youtube.com/embed/JxUP9p2x1Cw?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
  </div>
</modal>

<!--
<div style="padding: 200px 0 0 0;">

  <dropdown placement="top">
    <div slot="header">sadad</div>
    <ul slot="menu">
      <li>
        <a href="#1">Home</a>
      </li>
      <li>
        <a href="#2">About</a>
      </li>
      <li>
        <a href="#3">Clients</a>
      </li>
      <li>
        <a href="#4">Contact Us</a>
      </li>
    </ul>
  </dropdown>

  <dropdown placement="bottom">
    <div slot="header">sadad</div>
    <ul slot="menu">
      <li>
        <a href="#1">Home</a>
      </li>
      <li>
        <a href="#2">About</a>
      </li>
      <li>
        <a href="#3">Clients</a>
      </li>
      <li>
        <a href="#4">Contact Us</a>
      </li>
    </ul>
  </dropdown>

</div>
!-->

{% endblock %}