/* ==========================================================================
    #SELECTORS
========================================================================== */

/* elements*/
/*///////////////////////////*/
$btn: '.btn';

/* components*/
/*///////////////////////////*/
$banner: '.c-banner';
$modal: '.c-modal';
$overlay: '.c-overlay';
$wysiwyg: '.c-wysiwyg';
$loader: '.c-loader';

/* objects*/
/*///////////////////////////*/
$container: '.o-container';

/* layouts*/
/*///////////////////////////*/

/* Major*/
$wrapper: '.l-wrapper';
$header: '.l-header';
$nav: '.l-nav';
$main: '.l-main';
$footer: '.l-footer';

/* Minor*/

/* pages*/
/*///////////////////////////*/
$page-404: '.page-404';


