/* ==========================================================================
    #SELECTORS
========================================================================== */

// elements
/////////////////////////////
$btn : '.btn';

// compnents
/////////////////////////////
$banner : '.c-banner';
$modal : '.c-modal';
$overlay : '.c-overlay';
$wysiwyg : '.c-wysiwyg';
$loader : '.c-loader';

// layouts
/////////////////////////////
$wrapper : '.l-wrapper';
$header : '.l-header';
$nav : '.l-nav';
$content : '.l-content';
$footer : '.l-footer';

// pages
/////////////////////////////
$page-404 : '.page-404';

// themes
/////////////////////////////
$theme-light: '.t-light';
$theme-dark: '.t-dark';
